<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TPX1RN22P5"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TPX1RN22P5');
    </script>







</head>


<!-- MAIN BODY -->  
<header data-test="header">
    <h1 class="page-intro__title margin--0 padding--0">
        Main indicies
    </h1>
</header>


<!-- SMALL SCREEN -->  

<div class="hide--sm hide--md-only">
    <div class="flex stretch">

        <!-- EMPLOYMENT DATA -->  
        <article class="col--lg-29 tile margin-right--1">
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0"><span class="tile__title">Employment</span></h2>
        </header>
        <section class="inline-block col--lg-12 margin-right--1 text-align-top">
            <div class="margin-top--1 tile__subheading" data-test="main-subheading">Employment rate</div>
            <div class="margin-top-md--2 margin-top-lg--1 height-lg--11">Aged 16 to 64 seasonally adjusted (2021)</div>
            <div class="tile__figure">79.0%</div>
            <p class="tile__trend">
                <span class="tile__trend__icon">
                &uarr;
                </span>
                <span class="tile__trend__text">0.3pp on previous year</span>
            </p>
            <div class="margin-top--2">
                <a href="/employmentandhousing/employment#Employment" class="tile__link" aria-label="Jersey employment rate" data-gtm-label="Analysis for Jersey employment rate">Analysis
                </a>
                <a href="/employmentandhousing/employment" class="tile__link margin-left--1" aria-label="Jersey employment rate" data-gtm-label="Data for Jersey employment rate">Data
                </a>
            </div>
        </section>
        <section class="inline-block margin-left--1 col--lg-12 text-align-top">
            <div class="margin-top--1 tile__subheading">Unemployment rate</div>
            <div class="margin-top-md--2 margin-top-lg--1 height-lg--11">Aged 16+ seasonally adjusted (2021)</div>
            <div class="tile__figure">4.4%</div>
            <p class="tile__trend">
                <span class="tile__trend__icon">
                =
                </span>
                <span class="tile__trend__text">0.0pp on previous year</span>
            </p>
            <div class="margin-top--2">
                <a href="/employmentandhousing/employment#Employment" class="tile__link" aria-label="Jersey unemployment rate" data-gtm-label="Analysis for Jersey unemployment rate">Analysis
                </a>
                <a href="/employmentandhousing/employment" class="tile__link margin-left--1" aria-label="Jersey unemployment rate data" data-gtm-label="Data for Jersey unemployment rate">Data
                </a>
            </div>
        </section>
        </article>

        <!-- INFLATION DATA -->  
        <article class="tile tile__content col--lg-14 margin-right--1">
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0"><span class="tile__title">Inflation</span></h2>
        </header>
        <div class="margin-top--1">RPI(Y)</div>
        <div class="margin-top--1">(Sep 2023)</div>
        <div class="tile__figure">5.3%</div>
        <p class="tile__trend">
            <span class="tile__trend__icon">
            &darr;
            </span>
            <span class="tile__trend__text">-0.8pp on previous quarter</span>
        </p>
        <div class="margin-top--2">
            <a href="econandbusiness/inflation" class="tile__link" aria-label="Jersey Inflation Rate" data-gtm-label="Analysis for Jersey Inflation Rate">Analysis
            </a>
            <a href="econandbusiness/inflation" class="tile__link margin-left--1" aria-label="Data for Jersey Inflation Rate" data-gtm-label="Data for Jersey Inflation Rate">Data
            </a>
        </div>
        </article>

        <!-- GDP DATA -->  
        <article class="tile tile__content col--lg-14 margin-top--2">
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0"><span class="tile__title">GDP</span></h2>
        </header>
        <div class="margin-top--1">YoY Change</div>
        <div class="margin-top--1">(2021-2022)</div>
        <div class="tile__figure">5.9%</div>
        <p class="tile__trend">
            <span class="tile__trend__icon">
            &darr;
            </span>
            <span class="tile__trend__text">-4.7pp on previous year</span>
        </p>
        <div class="margin-top--2">
            <a href="/econandbusiness/gdp#Econ" class="tile__link" aria-label="Analysis for Jersey GDP" data-gtm-label="Analysis for Jersey GDP">Analysis
            </a>
            <a href="/econandbusiness/gdp" class="tile__link margin-left--1" aria-label="Data for Jersey GDP" data-gtm-label="Data for Jersey GDP">Data
            </a>
        </div>
        </article>
    </div>

    <!-- HOUSING -->  
    <div class="col col--lg-29 col--md-29">
        <article class="tile tile__content margin-top-lg--2 margin-top-md--2 margin-left-md--1 margin-left-lg--0 height-lg--31">
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0"><span class="tile__title">House Price Growth</span></h2>
        </header>
        <div class="margin-top--1">HPI (Q3 2023) (YoY Change)</div>
        <div class="tile__figure">248.2 (-2.4%)</div>
        <div class="margin-top--2">
            <a href="/employmentandhousing/hpi#HPI" class="tile__link" aria-label="Jersey House Price Index" data-gtm-label="Analysis for Jersey House Price Index">Analysis
            </a>
            <a href="/employmentandhousing/hpi" class="tile__link margin-left--1" data-test="test1" aria-label="Data for Jersey House Price Index" data-gtm-label="Data for Jersey House Price Index">Data
            </a>
        </div>
        </article>
    </div>

    <!-- POPULATION -->  

    <div>
        <article class="tile tile__content col col--lg-29 margin-top-lg--2 margin-top-md--2 margin-left-lg--1 height-lg--31 hide--sm" data-test="census">
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0"><span class="tile__title">Total Population</span></h2>
        </header>
        <div class="margin-top--1">Headcount (2022) (YoY Change)</div>
        <div class="tile__figure">103,200 (0%)</div>
        <div class="margin-top--2">
            <a href="/populationandsociety/populationandmigration#total-population" class="tile__link" aria-label="Analysis for Jersey population" data-gtm-label="Analysis for Jersey population">Analysis
            </a>
            <a href="/populationandsociety/populationandmigration" class="tile__link margin-left--1" data-test="test1" aria-label="Data for Jersey population" data-gtm-label="Data for Jersey population">Data
            </a>
        </div>
        </article>
    </div>

</div>









<!-- BIG SCREEN -->  








<div class="flex stretch col-wrap hide--sm hide--lg">
    <div class="col--md-18">
        <article class="tile margin-left--1">

        <!-- EMPLOYMENT DATA  (BS) -->  
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0"><span class="tile__title">Employment</span></h2>
        </header>
        <section class="col col--md-15 height-md--42">
            <div class="margin-top--2 tile__subheading" data-test="empl-sub">Employment rate</div>
            <div class="margin-top-md--2" data-test="empl-period">Aged 16 to 64 seasonally adjusted (2021)</div>
            <div class="tile__figure" data-test="empl-value">79.0%</div>
            <p class="tile__trend">
                <span class="tile__trend__icon">
                &uarr;
                </span>
                <span class="tile__trend__text" data-test="empl-trend">0.3pp on previous year</span>
            </p>
            <div class="margin-top--2">
                <a href="/employmentandhousing/employment#Employment" class="tile__link" aria-label="Jersey employment rate" data-gtm-label="Analysis for Jersey employment rate">Analysis
                </a>
                <a href="/employmentandhousing/employment" class="tile__link margin-left--1" aria-label="Jersey employment rate" data-gtm-label="Data for Jersey employment rate">Data
                </a>
            </div>
        </section>
        <div class="col tile__split-bar print--hide width-md--14 margin-left-md--0 margin-top-md--3"></div>
        <section class="col col--md-15 height-md--42">
            <div class="margin-top--1 tile__subheading" data-test="unempl-sub">Unemployment rate</div>
            <div class="margin-top-md--2" data-test="unempl-period">Aged 16+ seasonally adjusted (2021)</div>
            <div class="tile__figure" data-test="unempl-value">4.4%</div>
            <p class="tile__trend">
                <span class="tile__trend__icon">
                =
                </span>
                <span class="tile__trend__text" data-test="unempl-trend">0.0pp on previous year</span>
            </p>
            <div class="margin-top--2">
                <a href="/employmentandhousing/employment#Employment" class="tile__link" aria-label="Jersey unemployment rate" data-gtm-label="Analysis for Jersey unemployment rate">Analysis
                </a>
                <a href="/employmentandhousing/employment" class="tile__link margin-left--1" aria-label="Jersey unemployment rate" data-gtm-label="Data for Jersey unemployment rate">Data
                </a>
            </div>
        </section>
        </article>
    </div>

    <!-- INFLATION DATA (BS) -->  
    <div class="col--md-30">
        <article class="tile tile__content col col--md-14 margin-left-md--1 margin-bottom-md--2 height-md--52">
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0" data-test="inflation-h2"><span class="tile__title">Inflation (RPI)</span></h2>
        </header>
        <div class="margin-top--2" data-test="inflation-period">RPI(Y)</div>
        <div class="margin-top--1" data-test="inflation-date">(Sep 2023)</div>
        <div class="tile__figure" data-test="inflation-value">5.3%</div>
        <p class="tile__trend">
            <span class="tile__trend__icon">
            &darr;
            </span>
            <span class="tile__trend__text" data-test="inflation-trend">-0.8pp on previous quarter</span>
        </p>
        <div class="margin-top--2">
            <a href="econandbusiness/inflation" class="tile__link" aria-label="Jersey Inflation Rate" data-gtm-label="Analysis for Jersey Inflation Rate">Analysis
            </a>
            <a href="econandbusiness/inflation" class="tile__link margin-left--1" aria-label="Jersey Inflation Rate" data-gtm-label="Data for Jersey Inflation Rate">Data
            </a>
        </div>
        </article>

        <!-- GDP DATA (BS) -->  
        <article class="tile tile__content col col--md-14 margin-left-md--1 margin-bottom-md--2 height-md--52">
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0" data-test="gdp-h2"><span class="tile__title">GDP</span></h2>
        </header>
        <div class="margin-top--2" data-test="gdp-period">YoY Change</div>
        <div class="margin-top--1" data-test="gdp-date">(2021-2022)</div>
        <div class="tile__figure" data-test="gdp-value">5.9%</div>
        <p class="tile__trend">
            <span class="tile__trend__icon">
            &darr;
            </span>
            <span class="tile__trend__text" data-test="gdp-trend">-4.7pp on previous year</span>
        </p>
        <div class="margin-top--2">
            <a href="/econandbusiness/gdp#Econ" class="tile__link" aria-label="Jersey GDP" data-gtm-label="Analysis for Jersey GDP">Analysis
            </a>
            <a href="/econandbusiness/gdp" class="tile__link margin-left--1" aria-label="Data for Jersey GDP" data-gtm-label="Data for Jersey GDP">Data
            </a>
        </div>
        </article>

        <!-- POPULATION DATA (BS) -->  
        <article class="tile tile__content margin-top-md--6 margin-left-md--1 height-md--43">
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--4 margin-left--0" data-test="ukpop-h2"><span class="tile__title">Total Population</span></h2>
        </header>
        <div class="margin-top--2" data-test="ukpop-period">Headcount (2022) (YoY Change)</div>
        <div class="tile__figure" data-test="ukpop-value">103,200 (0%)</div>
        <div class="margin-top--2">
            <a href="/populationandsociety/populationandmigration#total-population" class="tile__link" aria-label="Jersey population" data-gtm-label="Analysis for Jersey population">Analysis
            </a>
            <a href="/populationandsociety/populationandmigration" class="tile__link margin-left--1" data-test="test1" aria-label="Jersey population" data-gtm-label="Data for Jersey population">Data
            </a>
        </div>
        </article>
    </div>
</div>








<!-- SOMETHING ELSE -->  







<div class="hide--md hide--lg">
    <article class="tile tile__content col">

        <!-- GDP -->  
        <header class="margin-top--1">
        <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0"><span class="tile__title">GDP</span></h2>
        </header>
        <div class>YoY Change</div>
        <div class="margin-top--1">(2021-2022)</div>
        <div class="tile__figure">5.9%</div>
        <p class="tile__trend">
        <span class="tile__trend__icon">
        &darr;
        </span>
        <span class="tile__trend__text">-4.7pp on previous year</span>
        </p>
        <div class="margin-top--1">
        <a href="/econandbusiness/gdp#Econ" class="tile__link" aria-label="Jersey GDP" data-gtm-label="Analysis for Jersey GDP">Analysis
        </a>
        <a href="/econandbusiness/gdp" class="tile__link margin-left--1" aria-label="Data for Jersey GDP" data-gtm-label="Data for Jersey GDP">Data
        </a>
        </div>
    </article>

    <!-- INFLATION DATA -->  
    <article class="tile tile__content col margin-right--1">
        <header class="margin-top--1">
        <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0"><span class="tile__title">Inflation (RPI)</span></h2>
        </header>
        <div class="margin-top--1">RPI(Y)</div>
        <div class="margin-top--1">(Sep 2023)</div>
        <div class="tile__figure">5.3%</div>
        <p class="tile__trend">
        <span class="tile__trend__icon">
        &darr;
        </span>
        <span class="tile__trend__text">-0.8pp on previous quarter</span>
        </p>
        <div class="margin-top--1">
        <a href="econandbusiness/inflation" class="tile__link" aria-label="Jersey inflation" data-gtm-label="Analysis for Jersey inflation">Analysis
        </a>
        <a href="econandbusiness/inflation" class="tile__link margin-left--1" aria-label="Jersey inflation" data-gtm-label="Data for Jersey inflation">Data
        </a>
        </div>
    </article>

    <!-- POPULATION DATA -->  
    <button class="col btn btn--full-width btn--primary btn--focus tile__button hide--md hide--lg nojs--hide js-main-feature-expand-button" type="button">Show more ...
    </button>
    <div class="js-main-expanded">
        <article class="tile tile__content col">
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0"><span class="tile__title">Total Population</span></h2>
        </header>
        <div class="margin-top--2">Headcount (2022) (YoY Change)</div>
        <div class="tile__figure">103,200 (0%)</div>
        <div class="margin-top--1">
            <a href="/populationandsociety/populationandmigration#total-population" class="tile__link" aria-label="Jersey population" data-gtm-label="Analysis for Jersey population">Analysis
            </a>
            <a href="/populationandsociety/populationandmigration" class="tile__link margin-left--1" data-test="test1" aria-label="Jersey population" data-gtm-label="Data for Jersey population">Data
            </a>
        </div>
        </article>

        <!-- EMPLOYMENT DATA -->  
        <article class="col tile margin-right--1">
        <header class="margin-top--1">
            <h2 class="margin-top--0 margin-right--0 margin-bottom--0 margin-left--0"><span class="tile__title">Employment</span></h2>
        </header>
        <section class="col">
            <div class="margin-top--1 tile__subheading"><b>Employment rate</b></div>
            <div class>Aged 16 to 64 seasonally adjusted (2021)</div>
            <div class="tile__figure">79.0%</div>
            <p class="tile__trend">
                <span class="tile__trend__icon">
                &uarr;
                </span>
                <span class="tile__trend__text">0.3pp on previous year</span>
            </p>
            <div class="margin-top--1">
                <a href="/employmentandhousing/employment#Employment" class="tile__link" aria-label="Jersey employment rate" data-gtm-label="Analysis for Jersey employment rate">Analysis
                </a>
                <a href="/employmentandhousing/employment" class="tile__link margin-left--1" aria-label="Jersey employment rate" data-gtm-label="Data for Jersey employment rate">Data
                </a>
            </div>
        </section>
        <div class="col tile__split-bar"></div>
        <div class="col">
            <div class="margin-top--1 tile__subheading"><b>Unemployment rate</b></div>
            <div class>Aged 16+ seasonally adjusted (2021)</div>
            <div class="tile__figure">4.4%</div>
            <p class="tile__trend">
                <span class="tile__trend__icon">
                =
                </span>
                <span class="tile__trend__text">0.0pp on previous year</span>
            </p>
            <div class="margin-top--1">
                <a href="/employmentandhousing/employment#Employment" class="tile__link" aria-label="Jersey unemployment rate" data-gtm-label="Analysis for Jersey unemployment rate">Analysis
                </a>
                <a href="/employmentandhousing/employment" class="tile__link margin-left--1" aria-label="Jersey unemployment rate" data-gtm-label="Data for Jersey unemployment rate">Data
                </a>
            </div>
        </div>
        </article>
    </div>
</div>
<button class="col btn btn--full-width btn--primary btn--focus tile__button hide--md hide--lg nojs--hide js-main-feature-compress-button" type="button">Show fewer ...
</button>





<!-- NEWS/INSIGHTS -->  




</main>
<footer class="print--hide padding-top--8">
    <section>
        <div class="wrapper">

            <h2 class="page-intro__title margin--0 padding--0" style="font-size: 2.3em;">
                Latest Insights
            </h2>



            <ul class="list--neutral margin-top--half">
                <li class="background--gallery flush-col js-hover-click" data-link="/insights#RPIDec2023" style="cursor: pointer; background-image: url('/assets/img/inflation2023.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-color: #e0e0e0; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <div class="box__content">
                        <div class="row" style="margin-top: 8px;">
                            <article class="article-featured-item row post-7844 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-ons" style="display: flex; justify-content: space-between;">
                                <div class="text-content" style="padding-left: 20px;">
                                    <header class="visible-min-width">
                                        <h2 style="margin-top: 15px;">
                                            <a href="/insights#RPIDec2023" class="search-results__title" style="color: white; line-height: 1.5;">
                                                <strong>What does the latest Jersey inflation data reveal?</strong>
                                            </a>
                                        </h2>
                                    </header>
                                    <p class="search-results__meta" style="color: lightgreen;">
                                        <strong>
                                            Summary
                                            |
                                            January 2024
                                        </strong>
                                    </p>
                                    <div class="entry excerpt rich-text" style="color: white;">
                                        <p>
                                            <strong>

                                                Inflation trends varied across sectors in 2022-2023: housing prices surged, food prices rose modestly, fuel expenses declined slightly, and clothing expenditures saw a subtle increase, contributing to an overall average inflation of 7.5%.

                                            </strong>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
            </ul>




            <ul class="list--neutral margin-top--half">
                <li class="background--gallery flush-col js-hover-click" data-link="/comparisons" style="cursor: pointer; background-image: url('/assets/img/jersey2024.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-color: #e0e0e0; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <div class="box__content">
                        <div class="row" style="margin-top: 8px;">
                            <article class="article-featured-item row post-7844 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-ons" style="display: flex; justify-content: space-between;">
                                <div class="text-content" style="padding-left: 20px;">
                                    <header class="visible-min-width">
                                        <h2 style="margin-top: 15px;">
                                            <a href="/comparisons" class="search-results__title" style="color: white; line-height: 1.5;">
                                                <strong>How will Jersey's economy compare to others in 2024?</strong>
                                            </a>
                                        </h2>
                                    </header>
                                    <p class="search-results__meta" style="color: lightgreen;">
                                        <strong>
                                            Article
                                            |
                                            December 2023
                                        </strong>
                                    </p>
                                    <div class="entry excerpt rich-text" style="color: white;">
                                        <p>
                                            <strong>

                                                Facing challenges in 2023, Jersey's economy anticipates a brighter 2024 with a pre-Christmas inflation drop. How does Jersey's economic experience compare globally?

                                            </strong>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
            </ul>



            <ul class="list--neutral margin-top--half">
                <li class="background--gallery flush-col js-hover-click" data-link="/reports/public2023" style="cursor: pointer; background-image: url('/assets/img/housing.png'); background-size: cover; background-position: center; background-repeat: no-repeat; background-color: #e0e0e0; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <div class="box__content">
                        <div class="row" style="margin-top: 8px;">
                            <article class="article-featured-item row post-7844 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-ons" style="display: flex; justify-content: space-between;">
                                <div class="text-content" style="padding-left: 20px;">
                                    <header class="visible-min-width">
                                        <h2 style="margin-top: 15px;">
                                            <a href="/reports/public2023" class="search-results__title" style="color: white; line-height: 1.5;">
                                                <strong>Jersey Housing Market: Insights and Future Projections for 2024</strong>
                                            </a>
                                        </h2>
                                    </header>
                                    <p class="search-results__meta" style="color: lightgreen;">
                                        <strong>
                                            Report
                                            |
                                            December 2023
                                        </strong>
                                    </p>
                                    <div class="entry excerpt rich-text" style="color: white;">
                                        <p>
                                            <strong>
                                                
                                                Jersey's Q3 2023 housing market saw declines in turnover, notably in 1-bed flats (-5.8%) and 3-bed houses (-2.2%). Resilient property values (+2.4% quarterly HPI change) contrast escalating housing unaffordability, highlighting the market's need for strategic adaptation.

                                            </strong>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
            </ul>



            <ul class="list--neutral margin-top--half">
                <li class="background--gallery flush-col js-hover-click" data-link="/insights#population2023" style="cursor: pointer; background-image: url('/assets/img/population.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-color: #e0e0e0; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <div class="box__content">
                        <div class="row" style="margin-top: 8px;">
                            <article class="article-featured-item row post-7844 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-ons" style="display: flex; justify-content: space-between;">
                                <div class="text-content" style="padding-left: 20px;">
                                    <header class="visible-min-width">
                                        <h2 style="margin-top: 15px;">
                                            <a href="/insights#population2023" class="search-results__title" style="color: white; line-height: 1.5;">
                                                <strong>Jersey Population Projections: 2023-2080</strong>
                                            </a>
                                        </h2>
                                    </header>
                                    <p class="search-results__meta" style="color: lightgreen;">
                                        <strong>
                                            Summary
                                            |
                                            December 2023
                                        </strong>
                                    </p>
                                    <div class="entry excerpt rich-text" style="color: white;">
                                        <p>
                                            <strong>

                                                Jersey's 2023 population projections show diverse outcomes: net nil and -100 migration scenarios predict declines, +325 suggests stability, and +700 and +1,000 anticipate increases to 142,000 and 166,000 by 2080, impacting age demographics.

                                            </strong>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
            </ul>
            
            


        </div>

    </section>
    












    <section style="padding-top: 3em;">
        <div class="wrapper">

            <h2 class="page-intro__title margin--0 padding--0" style="font-size: 2.3em;">
                Economic Calendar
            </h2>

            <h4 class="page-intro__title margin--0" style="padding-top: 1em; color: black;">
                <strong>Key Upcoming Events - February 2024</strong>
            </h4>


            <ul class="list--neutral margin-top--half">

                <div style="overflow-x: auto;">

                    <table style="border-collapse: collapse; width: 100%; border: 1px solid #dddddd;">
                    <thead>

                        <tr style="background-color: #d81c1c;">
                            <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white; text-align: center;">Country</th>
                            <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white;">Date</th>
                            <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white;">Time</th>
                            <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white;">Event</th>
                            <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white;">Previous</th>
                        </tr>

                    </thead>

                    <tbody id="publicationTableBody">



                        <tr>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; text-align: center;">
                                <img src="/assets/img/uk.png" alt="UK Economic Event" style="width: 30px; height: 15px;">
                            </td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">2024-02-01</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">7:00 AM</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">BoE Interest Rate Decision</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;"><strong>5.25%</strong></td>
                        </tr>

                        <tr>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; text-align: center;">
                                <img src="/assets/img/jersey.png" alt="Jersey Economic Event" style="width: 30px; height: 15px;">
                            </td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">2024-02-08</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">10:00 AM</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">Multi-morbididy Report 2023</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">
                                <span style="padding: 2px 5px; background-color: black; color: white;"><strong>REPORT</strong></span>
                            </td>              
                        </tr>

                        <tr>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; text-align: center;">
                                <img src="/assets/img/jersey.png" alt="Jersey Economic Event" style="width: 30px; height: 15px;">
                            </td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">2024-02-08</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">10:00 AM</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">Earnings Statistics & Pay gap (Jun 2023)</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">
                                <span style="padding: 2px 5px; background-color: black; color: white;"><strong>REPORT</strong></span>
                            </td>              
                        </tr>

                        
                        <tr>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; text-align: center;">
                                <img src="/assets/img/jersey.png" alt="Jersey Economic Event" style="width: 30px; height: 15px;">
                            </td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">2024-02-08</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">10:00 AM</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">Disease Projections (2023-2052)</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">
                                <span style="padding: 2px 5px; background-color: black; color: white;"><strong>REPORT</strong></span>
                            </td>              
                        </tr>

                        <tr>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; text-align: center;">
                                <img src="/assets/img/uk.png" alt="UK Economic Event" style="width: 30px; height: 15px;">
                            </td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">2024-02-14</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">7:00 AM</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">CPI (YoY) (Q4)</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;"><strong>4.0%</strong></td>
                        </tr>

                        <tr>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; text-align: center;">
                                <img src="/assets/img/uk.png" alt="UK Economic Event" style="width: 30px; height: 15px;">
                            </td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">2024-02-15</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">7:00 AM</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">GDP (YoY) (Q4)</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;"><strong>0.3%</strong></td>
                        </tr>

                        <tr>
                            <td style="text-align: left; padding: 8px; border-bottom: 2px solid #888888; text-align: center;">
                                <img src="/assets/img/jersey.png" alt="Jersey Economic Event" style="width: 30px; height: 15px;">
                            </td>
                            <td style="text-align: left; padding: 8px; border-bottom: 2px solid #888888;">2024-02-15</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 2px solid #888888;">10:00 AM</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 2px solid #888888;">HPI (Q4)</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 2px solid #888888;"><strong>248.2</strong></td>
                        </tr>

                        <tr>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; text-align: center;">
                                <img src="/assets/img/jersey.png" alt="Jersey Economic Event" style="width: 30px; height: 15px;">
                            </td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">Q1 2024*</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">10:00 AM</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">Employment Statistics</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;"><strong>N/A</strong></td>
                        </tr>

                        <tr>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; text-align: center;">
                                <img src="/assets/img/jersey.png" alt="Jersey Economic Event" style="width: 30px; height: 15px;">
                            </td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">Q1 2024*</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">10:00 AM</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">Household & Housing Projections</td>
                            <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;"><strong>N/A</strong></td>
                        </tr>




                        

                    </table>
                
                </div>


                <div style="margin-top: 10px !important; display: flex; justify-content: space-between;">
                    <a class="underline-link" href="/calendar"><strong>Show Full Calendar 🠖</strong></a>
                    <span>* provisional data</span>
                </div>

            </ul>


        </div>


    </section>





    

    <section style="padding-top: 3em;">
        <div class="wrapper">

            <h2 class="page-intro__title margin--0 padding--0" style="font-size: 2.3em; line-height: 1.2;">
                Channel Islands Macro Snapshot
            </h2>


            <ul class="list--neutral margin-top--half">



                <div style="overflow-x: auto;">

                    <table style="border-collapse: collapse; width: 100%; margin-top: 20px; background-color: #f0ecec; color: black; text-align: center;">
                        <thead>
                            <tr style="background-color: #000000; color: #fff;">
                                <th style="padding: 10px;">Location</th>
                                <th style="padding: 10px;">GDP <br>(Bn US$)</th>
                                <th style="padding: 10px;">GDP Growth (%)</th>
                                <th style="padding: 10px;">GDP Per Capita (US$)</th>
                                <th style="padding: 10px;">Unemployment (%)</th>
                                <th style="padding: 10px;">Inflation (%)</th>
                                <th style="padding: 10px;">LFP (%)</th>
                                <th style="padding: 10px;">E:P</th>
                                <th style="padding: 10px;">Population</th>
                            </tr>
                        </thead>
                        <tbody id="dataBody">
                            
                        </tbody>
                    </table>

                </div>



                <script>
                    const localDataPromise2 = fetch('/json/data.json')
                        .then(response => response.json())
                        .then(data => {
                            const tableBody = document.getElementById('dataBody');
                            const table = document.querySelector('table');
                
                            data.forEach(row => {
                                const newRow = document.createElement('tr');
                                const countryStyle = row.country_name.toLowerCase() === 'channel islands' ? 'background-color: #e01c1c; color: #FFFFFF;' : '';
                
                                let inflationValue = row.latest_inflation_value !== null ? (+row.latest_inflation_value).toFixed(2) : '';
                                if (row.country_name.toLowerCase() === 'channel islands') {
                                    inflationValue = '5.30';
                                }
                
                                newRow.innerHTML = `
                                    <td style="padding: 10px; text-align: left; overflow: hidden; text-overflow: ellipsis; ${countryStyle}; border-bottom: 1px solid #ccc;" title="${row.country_name}">${row.country_name}</td>
                                    <td style="padding: 10px; ${countryStyle}; border-bottom: 1px solid #ccc;">${(row.latest_gdp_value / 1e9).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 })}</td>
                                    <td style="padding: 10px; ${countryStyle}; border-bottom: 1px solid #ccc;">${(+row.latest_gdp_growth_value).toFixed(2)}</td>
                                    <td style="padding: 10px; ${countryStyle}; border-bottom: 1px solid #ccc;">${(+row.latest_gdp_per_capita_value).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 })}</td>
                                    <td style="padding: 10px; ${countryStyle}; border-bottom: 1px solid #ccc;">${(+row.latest_unemployment_value).toFixed(2)}</td>
                                    <td style="padding: 10px; ${countryStyle}; border-bottom: 1px solid #ccc;">${inflationValue}</td>
                                    <td style="padding: 10px; ${countryStyle}; border-bottom: 1px solid #ccc;">${(+row.latest_labor_force_participation_value).toFixed(2)}</td>
                                    <td style="padding: 10px; ${countryStyle}; border-bottom: 1px solid #ccc;">${(+row.latest_employment_to_population_ratio_value).toFixed(2)}</td>
                                    <td style="padding: 10px; ${countryStyle}; border-bottom: 1px solid #ccc;">${parseInt(row.latest_total_population_value).toLocaleString()}</td>
                                `;
                                tableBody.appendChild(newRow);
                            });
                
                            // Inline styles for responsiveness
                            table.style.borderCollapse = 'collapse';
                            table.style.width = '100%';
                            table.style.marginTop = '20px';
                            table.style.backgroundColor = '#f0ecec';
                            table.style.color = 'black';
                            table.style.textAlign = 'center';
                        })
                        .catch(error => console.error('Error fetching data:', error));
                </script>



                <div style="margin-top: 10px !important; font-size: 12px; display: flex; justify-content: space-between;">
                    <em style="margin-right: auto;">LFP = Labour Force Participation | E:P = Employment to Population ratio</em>
                    <span>Latest available data: Updated 01/01/24</span>
                </div>


                
                <div style="margin-top: 10px !important";>
                    <a class="underline-link" href="/comparisons"><strong>Detailed Comparisons 🠖</strong></a>
                </div>



            </ul>


        </div>


    </section>









    <script>
        const hoverItems = document.querySelectorAll('.js-hover-click');
    
        hoverItems.forEach(item => {
            item.addEventListener('mouseenter', () => {
                item.style.backgroundColor = '#c2c2c2';
            });
    
            item.addEventListener('mouseleave', () => {
                item.style.backgroundColor = '';
            });
    
            item.addEventListener('click', () => {
                const link = item.getAttribute('data-link');
                if (link) {
                    redirectToLink(link);
                }
            });
        });
    
        function redirectToLink(url) {
            window.location.href = url;
        }
    </script>




</footer>



