<div class="wrapper">
    <div class="col-wrap">
       <div class="col">
            <div class="col col--md-47 col--lg-48">
                <h1 class="page-neutral-intro__title margin-top--1">
                    Census Data (2011-2021)
                </h1>
                <p class="page-neutral-intro__content">
                    Jersey Census Report Summary: Comprehensive Insights, Long-Term Trends, and Projections into Jersey's Demographics and Socioeconomic Landscape                    </p>
                <p>
                </p>
            </div>
       </div>
    </div>
 </div>

 <div style="padding-bottom: 20px; font-size: 16px;">
    By integrating selected datasets and employing advanced statistical methods, precise insights into Jersey's dynamic socioeconomic landscape can be acquired, down to the level of individual parishes and businesses. 
    This enables us to make accurate projections for the future based on longer-term trends. 
    Leveraging these extensive datasets allows for a profound understanding of Jersey's dynamics, assisting businesses and government agencies in making well-informed decisions and planning for a sustainable future in the region.

    <br><br>
    Here are a few examples of the foundational information included within the models:
</div>


<style>
    .census-summary ul {
        margin: 0;
        padding: 0;
    }

    .census-summary ul li {
        margin: 0;
        padding: 5px; /* You can adjust this value to control the spacing between list items */
    }
</style>

<div class="census-summary">
    <h5 style="padding-top: 5px;">Population and Demographics</h5>
    <ul>
        <li>Total population and the distribution of gender</li>
        <li>An analysis of age groups and gender composition</li>
        <li>Geographic distribution across different parishes, including population density insights</li>
    </ul>
    <h5 style="padding-top: 5px;">Detailed Demographic Insights</h5>
    <ul>
        <li>Marital status information</li>
        <li>Educational qualifications of our residents</li>
        <li>Occupation profiles within our community</li>
    </ul>
    <h5 style="padding-top: 5px;">Health and Well-being</h5>
    <ul>
        <li>Self-assessment of general health conditions</li>
        <li>Data on disabilities within the community</li>
        <li>Information about longstanding health conditions</li>
    </ul>
    <h5 style="padding-top: 5px;">Socio-Economic Aspects</h5>
    <ul>
        <li>Employment trends analyzed by industry</li>
        <li>Insights into different household types</li>
        <li>Statistics on vacant dwellings and the reasons behind them</li>
    </ul>
    <h5 style="padding-top: 5px;">Transportation and Lifestyle</h5>
    <ul>
        <li>Patterns of transportation to work broken down by parishes</li>
        <li>Unique data on gender identity, sexual orientation, and recent arrivals</li>
    </ul>
</div>

