<div class="wrapper">
    <div class="col-wrap">
       <div class="col">
            <div class="col col--md-47 col--lg-48">
                <h1 class="page-neutral-intro__title margin-top--1">
                    Immunisation Data
                </h1>
                <p class="page-neutral-intro__content">
                        Annual vaccination rates for specific age groups: 12 months, 24 months, and 60 months, along with dedicated categories for teenagers, adults (to be added), and influenza. This comprehensive resource serves as a valuable tool for swiftly identifying gaps in immunisation coverage. The data facilitates targeted and informed public health initiatives, empowering researchers, healthcare professionals, and policymakers to make strategic decisions aimed at enhancing overall population health in Jersey.
                </p>
                    <p class="margin-bottom--3">
                   <strong>Jump to:</strong>
                   <a href="#flu">Flu Immunisation</a> 
                </p>
            </div>
       </div>
    </div>
 </div>
 
 <h2 id="flu" class="tiles__title-h2">Immunisation Rate Against Flu (by age category)</h2>
 <iframe 
 class="responsive-iframe-first" frameBorder="0" src="https://stats.je/api/healthandgov/flu">
 </iframe>

 <h2 id="flu" class="tiles__title-h2">Vaccination rates (12 months, 24 months, and 60 months old)
    <br><br>
    (Coming soon)
 </h2>

<br><br>

 <h2 id="flu" class="tiles__title-h2">Immunisation Trends in Adults and Teens
 <br><br>
 (Coming soon)
</h2>

<style>
   .responsive-iframe-first {
     width: 100%;
     height: 500px; /* Set your preferred default height for the first iframe */
   }
   @media (max-width: 600px) {
     .responsive-iframe-first {
       height: 250px; /* Adjust the height for smaller screens for the first iframe */
     }
    }
 </style>
