<div class="wrapper">
    <div class="col-wrap">
       <div class="col">
            <div class="col col--md-47 col--lg-48">
                <h1 class="page-neutral-intro__title margin-top--1">
                    Life Expectancy
                </h1>
                <p class="page-neutral-intro__content">
                    The data provided includes information on life expectancy (LE) for both males and females at birth and at age 65. This data can be used to assess the expected lifespan and healthy lifespan for different demographic groups, offering valuable insights into the overall health and longevity of the population.
                </p>
                
                <p class="margin-bottom--3">
                   <strong>Jump to:</strong>
                   <a href="#obesity">Life Expectancy (at birth & 65)</a>
                </p>

            </div>
       </div>
    </div>
 </div>
 
 <h2 id="obesity" class="tiles__title-h2">Life Expectancy (at birth & 65)</h2>
 <iframe 
 class="responsive-iframe-first" frameBorder="0" src="https://stats.je/api/healthandgov/lifeexpectancy">
 </iframe>

Data on median age can be found under: <a href="/healthandgov/lifeexpectancy">https://www.stats.je/populationandsociety/birthsdeaths</a>

<style>
    .responsive-iframe-first {
      width: 100%;
      height: 1100px; /* Set your preferred default height for the first iframe */
    }
    @media (max-width: 600px) {
      .responsive-iframe-first {
        height: 500px; /* Adjust the height for smaller screens for the first iframe */
      }
     }
  </style>