<div class="wrapper">
    <div class="col-wrap">
       <div class="col">
          <div class="col col--md-47 col--lg-48">
             <h1 class="page-neutral-intro__title margin-top--1">
                Average House Prices
             </h1>
             <p class="page-neutral-intro__content margin-bottom--3">
                Average prices of different residential property types, including 1-bedroom flats, 2-bedroom flats, 2-bedroom houses, 3-bedroom houses, and 4-bedroom houses. It provides valuable insights into the current pricing trends within the real estate market, aiding in the assessment of housing affordability and investment opportunities.
            </p>
            <p>
               <strong>Jump to:</strong>
               <a href="#Employment">Average House Price (by type)</a>
            </p> 
            
            </div>
       </div>
    </div>
 </div>
 
 <h2 id="Employment" class="tiles__title-h2">Average House Price (by type)</h2>
 <iframe 
 class="responsive-iframe-first" frameBorder="0" src="https://stats.je/api/employmentandhousing/averagehouseprice">
 </iframe>

 <p style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.5; padding-bottom: 1em;">
   Jerseys' housing market witnessed diverse trends in the latest quarter. 
   Key highlights include a 1.69% increase in 1-bedroom flats, stable performance in 2-bedroom flats, and a -2.42% decline in 2-bedroom houses. 
   Notably, 3-bedroom houses rose by 2.56%, while 4-bedroom houses stood out with an impressive 8.25% increase. 
   The overall market exhibits diversity, with 4-bedroom houses leading the growth in the latest quarter.
 </p>

 <p style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.5; padding-bottom: 1em;">
   Looking ahead, the Jerseys housing market faces potential headwinds, with the convergence of high-interest rates, record drops in property turnover, and the prospect of population stagnation or decline. 
   These factors collectively raise concerns about the future stagnation or decline of average house prices.
 </p>

 <style>
   .responsive-iframe-first {
     width: 100%;
     height: 770px; /* Set your preferred default height for the first iframe */
   }
   @media (max-width: 600px) {
     .responsive-iframe-first {
       height: 650px; /* Adjust the height for smaller screens for the first iframe */
     }
    }
 </style>