<div class="wrapper">
    <div class="col-wrap">
       <div class="col">
          <div class="col col--md-47 col--lg-48">
             <h1 class="page-neutral-intro__title margin-top--1">
                House Price Index (HPI) & Housing Affordability Index (HAI)
             </h1>
             <p class="page-neutral-intro__content margin-bottom--3">
               The Jersey House Price Index (HPI) is a comprehensive indicator that monitors the fluctuations in residential property prices on the island of Jersey. This index enables individuals, real estate experts, and policymakers to gauge the dynamics of the local housing market over time, helping with decision-making, investment strategies, and economic assessments specific to Jersey.
            </p>
            <p class="margin-bottom--3">
               <strong>Jump to:</strong>
               <a href="#HPI">Total Number of Property Transactions</a> |
               <a href="#HPI2">Total Number of Property Transactions by type</a> 
            </p>
            
            </div>
       </div>
    </div>
 </div>
 
 <h2 id="HPI" class="tiles__title-h2">House Price Index (HPI)</h2>
 <iframe 
 class="responsive-iframe-first" frameBorder="0" src="https://stats.je/api/employmentandhousing/hpi">
 </iframe>

 <p style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.5; padding-bottom: 1em;">
  In the most recent analysis, Jerseys' House Price Index (HPI) exhibited a quarterly increase of 4.9 points, representing a 2.0% growth. 
  On an annual basis, the HPI experienced a decrease of -6.1 points, reflecting a -2.4% decline. 
  Over the span of five years, the HPI demonstrated a substantial absolute change of 76.2 points, signifying a noteworthy 44.3% increase.
</p>

 <h2 id="HPI2" class="tiles__title-h2">Housing Affordability</h2>
 <iframe 
 class="responsive-iframe-second-and-third" frameBorder="0" src="https://stats.je/api/employmentandhousing/affordability">
 </iframe>

 <p style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.5; padding-bottom: 1em;">
  Since 1990, the House Price Index (HPI) and Average Earnings Index (AEI) in Jersey have diverged significantly. 
  The current HPI is 610.1, AEI is 357.2, resulting in a housing unaffordability ratio of 1.708 — the highest since records began.
</p>

<p style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.5; padding-bottom: 1em;">
  The elevated housing unaffordability index (HAI) of 1.708 signifies a challenging landscape for the average resident in Jersey. 
  With house prices outpacing average earnings, accessing and maintaining housing becomes increasingly difficult, posing financial strains on individuals and potentially impacting overall economic well-being. 
</p>

 <style>
   .responsive-iframe-first {
     width: 100%;
     height: 700px; /* Set your preferred default height for the first iframe */
   }
   @media (max-width: 600px) {
     .responsive-iframe-first {
       height: 500px; /* Adjust the height for smaller screens for the first iframe */
     }
    }
 
   .responsive-iframe-second-and-third {
     width: 100%;
     height: 1100px; /* Set your preferred default height for the second and third iframes */
   }
   @media (max-width: 600px) {
     .responsive-iframe-second-and-third {
       height: 650px; /* Adjust the height for smaller screens for the second and third iframes */
     }
   }
 </style>