<div class="wrapper">
   <div class="col-wrap">
      <div class="col">
         <div class="col col--md-47 col--lg-48">
            <h1 class="page-neutral-intro__title margin-top--1">
               Gross Domestic Product (GDP)
            </h1>
            <p class="page-neutral-intro__content margin-bottom--3">
                Gross domestic product (GDP) estimates are the primary gauge of economic growth in Jersey, reflecting the total value of goods and services produced annually. These estimates are typically released on an annual basis as data becomes accessible.
               </p>
               <p>
                  <strong>Jump to:</strong>
                  <a href="#Econ">GDP</a> |
                  <a href="#Econ2">GDP Annual Growth Rate</a> |
                  <a href="#Econ3">GDP Per Capita</a> 
               </p> 
         </div>
      </div>
   </div>
</div>

<h2 id="Econ" class="tiles__title-h2">GDP</h2>
<iframe class="responsive-iframe-first" frameBorder="0" src="https://stats.je/api/econandbusiness/gdp"></iframe>

<p style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.5; padding-bottom: 1em;">
  Jersey's GDP shows positive trends: a 5.93% increase (£322.45 million) in the past year, a 7.57% rise (£405.16 million) over five years, and a cumulative growth of 17.17% (£844.33 million) since 2012. 
</p>

<h2 id="Econ2" class="tiles__title-h2">GDP Annual Growth Rate</h2>
<iframe class="responsive-iframe-second-and-third" frameBorder="0" src="https://stats.je/api/econandbusiness/gdpgrowth"></iframe>

<h2 id="Econ3" class="tiles__title-h2">GDP Per Capita</h2>
<iframe class="responsive-iframe-first" frameBorder="0" src="https://stats.je/api/econandbusiness/gdppercapita"></iframe>

<p style="font-family: Arial, sans-serif; font-size: 18px; line-height: 1.5; padding-bottom: 1em;">
  Jersey's GDP per capita data reveals a 5.93% increase (£3,124.47) in the past year, a 9.09% rise (£4,649.95) over five years, and an 11.95% growth (£5,959.00) since records began.
</p>

<style>
  .responsive-iframe-first {
    width: 100%;
    height: 720px; /* Set your preferred default height for the first iframe */
  }
  @media (max-width: 600px) {
    .responsive-iframe-first {
      height: 550px; /* Adjust the height for smaller screens for the first iframe */
    }
   }

  .responsive-iframe-second-and-third {
    width: 100%;
    height: 500px; /* Set your preferred default height for the second and third iframes */
  }
  @media (max-width: 600px) {
    .responsive-iframe-second-and-third {
      height: 250px; /* Adjust the height for smaller screens for the second and third iframes */
    }
  }
</style>