<div class="wrapper">
    <div class="col-wrap">
       <div class="col">
          <div class="col col--md-47 col--lg-48">
            <h1 class="page-neutral-intro__title margin-top--1">
                Gross Value Added (GVA)
            </h1>
            <p class="page-neutral-intro__content margin-bottom--3">
                Gross Value Added (GVA) is a key indicator of economic performance in Jersey. It measures the total value of goods and services produced in the region and serves as an essential component in understanding the local economy's health and growth. GVA figures are typically reported on an annual basis as data becomes available.
            </p>
            <p>
               <strong>Jump to:</strong>
               <a href="#Econ">GVA</a>
            </p>              
       </div>
    </div>
 </div>
 


<h2 id="Econ" class="tiles__title-h2">GVA</h2>
<iframe class="responsive-iframe-first" frameBorder="0" src="https://stats.je/api/econandbusiness/gva"></iframe>


<style>
  .responsive-iframe-first {
    width: 100%;
    height: 500px; /* Set your preferred default height for the first iframe */
  }
  @media (max-width: 600px) {
    .responsive-iframe-first {
      height: 250px; /* Adjust the height for smaller screens for the first iframe */
    }
   }
</style>
