<div class="wrapper">
    <div class="col-wrap">
       <div class="col">
          <div class="col col--md-47 col--lg-48">
             <h1 class="page-neutral-intro__title margin-top--1">
                Inflation and RPI
             </h1>
             <p class="page-neutral-intro__content margin-bottom--3">
                The rate of inflation is the change in prices for goods and services over time. Measures of inflation and prices include consumer price inflation, producer price inflation and the House Price Index.
               </p>
               <p>
                  <strong>Jump to:</strong>
                  <a href="#Econ">Inflation rate (RPIY)</a> |
                  <a href="#Econ2">Retail Price Index (RPI)</a> |
                  <a href="#Econ3">Inflation rate comparison between major indicies</a>
               </p>     
            </div>
       </div>
    </div>
 </div>
 
 <h2 id="Econ" class="tiles__title-h2">Inflation rate RPI(Y)
      <p>Inflation rate, excluding mortgage interest payments & indirect taxes:</p>
 </h2>
 <iframe 
 class="responsive-iframe-first" frameBorder="0" src="https://stats.je/api/econandbusiness/rpiy">
 </iframe>
 
 <h2 id="Econ2" class="tiles__title-h2">Retail Price Index (RPI)</h2>
 <iframe 
 class="responsive-iframe-first" frameBorder="0" src="https://stats.je/api/econandbusiness/rpi">
 </iframe>

 <h2 id="Econ3" class="tiles__title-h2">Inflation rate comparison between major indicies</h2>
 <iframe 
 class="responsive-iframe-first" frameBorder="0" src="https://stats.je/api/econandbusiness/rpichange">
 </iframe>
 To exclude indicies click key descriptions.

 <style>
   .responsive-iframe-first {
     width: 100%;
     height: 500px; /* Set your preferred default height for the first iframe */
   }
   @media (max-width: 600px) {
     .responsive-iframe-first {
       height: 250px; /* Adjust the height for smaller screens for the first iframe */
     }
    }
 </style>