<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TPX1RN22P5"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TPX1RN22P5');
    </script>
</head>

<style>
    .section__content--static-markdown {
    border: 1px solid #000; /* Border style */
    padding: 10px; /* Padding for space inside the div */
    }

    .section__content--static-markdown h3,
    .section__content--static-markdown hr,
    .section__content--static-markdown h4,
    .section__content--static-markdown ul,
    .section__content--static-markdown li {
        margin: 0.2;
        padding: 0.2;
        line-height: 0.2;
    }

    .section__content--static-markdown li {
        font-size: 12px;
    }

    .section__content--static-markdown h4 {
        margin-top: 10px;
        font-size: 14px;
    }
</style>


<h1 class="font-size--h2 font-size--30" style="font-weight: bold; padding-bottom: 20px;">
    Changelog
</h1>



<div class="section__content--static-markdown">
    <h3 style="font-weight: bold; padding-bottom: 25px;"><u>v1.0.2 - 12/11/2023</u></h3>
    <h4 style="font-weight: bold; color: green;">Added</h4>
    <ul>
        <li>Null</li>
    </ul>
    <h4 style="font-weight: bold; margin-top: 10px; color: red;">Removed</h4>
    <ul>
        <li>Null</li>
    </ul>
    <h4 style="font-weight: bold; margin-top: 10px;">Fixed/Changed</h4>
    <ul>
        <li>Null</li>
    </ul>
</div>



<div class="section__content--static-markdown" style="margin-top: 40px;">
    <h3 style="font-weight: bold; padding-bottom: 25px;"><u>v1.0.1 - 05/11/2023</u></h3>
    <h4 style="font-weight: bold; color: green;">Added</h4>
    <ul>
        <li><strong>Frontend:</strong> Home dashboard, Economy and Business, Housing and Employment, Population and Society, Health and Gov Statistics, Detailed Reports</li>
        <li><strong>Frontend:</strong> Prospects, About, Help, Privacy, Terms and conditions, What We Do, About Us, Changelog, Contact, Recent Insights, Licences</li>
        <li><strong>Frontend:</strong> Graphics, Styling</li>
        <li><strong>Backend:</strong> Hosting, Domain, DO/Nginx/SSL/SSH/nodeJS module stuff, added analytics, APIs & mongoDB</li>
        <li><strong>Models/Pipelines:</strong> Database construction, Jupyter notebooks pipeline</li>

    </ul>
    <h4 style="font-weight: bold; margin-top: 10px; color: red;">Removed</h4>
    <ul>
        <li>None</li>
    </ul>
    <h4 style="font-weight: bold; margin-top: 10px;">Fixed/Changed</h4>
    <ul>
        <li>None</li>
    </ul>
</div>



<div class="section__content--static-markdown" style="margin-top: 40px;">
    <h3 style="font-weight: bold; padding-bottom: 25px;"><u>v1.0.0 - 28/10/2023</u></h3>
    <h4 style="font-weight: bold; color: green; margin-top: 25px; margin-bottom: 30px;">
        <em>Stats.je inception</em>
    </h4>
    <hr style="border: none; border-top: 1px solid #000;">
</div>