<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TPX1RN22P5"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TPX1RN22P5');
    </script>
    
    <link rel="canonical" href="https://stats.je/insights" />

</head>

<style>
    .section__content--static-markdown {
        margin-bottom: 20px;
        padding: 10px;
    }

    .section__content--static-markdown h3 {
        margin-top: 0;
    }

    .section__content--static-markdown ul {
        padding-left: 20px;
        margin: 0;
    }

    .section__content--static-markdown li {
        margin-bottom: 0px;
    }
</style>


<h1 style="text-align: center; font-size: 36px; margin-top: 1em; margin-bottom: 1em;">International Economic Comparisons: Key Indicators</h1>

<div style="text-align: center; font-size: 1.4em; margin-bottom: 3em;">
    
    Compare Jersey's economic metrics alongside major global indicators such as inflation, interest rates, economic growth (GDP), unemployment rates, and tax.
    These comparisons offer a glimpse into Jersey's current standing in the global economy.

    <p style="margin-top: 2em; line-height: 1.5; font-size: 0.8em;">

        <a href="#inflation" style="margin: 0 0.5em;">Inflation</a> |
        <a href="#interest" style="margin: 0 0.5em;">Interest Rate</a> |
        <a href="#growth" style="margin: 0 0.5em;">Economic Growth</a> |
        <a href="#employment" style="margin: 0 0.5em;">Unemployment Rate</a> |
        <a href="#tax" style="margin: 0 0.5em;">Tax</a>

    </p>
    
</div>





<h1 id="inflation" class="tiles__title-h2" style="text-align: left; margin: 0; padding: 0;">Inflation</h1>
<div class="page-neutral-intro" style="margin-bottom: 3em;">
    <div class="wrapper" style="font-size: 1.2em">

        <div style="padding-top: 2em; padding-bottom: 2em;">
            As 2023 draws to a close, Jersey continues to grapple with a cost-of-living challenge, as the latest inflation figure standing at 5.3% (excluding mortgage interest payments and indirect taxes). 
            This figure surpasses the UK's 4.7% and slightly trails behind the OECD's 5.6% for the same period. 
            The inflationary pressure in Jersey is notably influenced by factors such as housing, and as these influences subside, the inflation gap may narrow.
        </div>

        <img src="/assets/img/2024inflation.png" alt="Jersey inflation comparison" style="width: 100%;" />
        <p style="font-size: small; font-style: italic;">
            Source: Generated using data from OECD (2023) CPI (Database) and opendata.gov.je
        </p>

        <div style="padding-bottom: 2em;">
            Core inflation in Jersey, excluding food and energy, remains significant, suggesting a sustained willingness and capacity among consumers to spend.
        </div>

    </div>
</div>



<h1 id="interest" class="tiles__title-h2" style="text-align: left; margin: 0; padding: 0;">Interest Rates</h1>
<div class="page-neutral-intro" style="margin-bottom: 3em;">
    <div class="wrapper" style="font-size: 1.2em">

        <div style="padding-top: 2em; padding-bottom: 2em;">
            Jersey's interest rates, tied to the Bank of England, mirror a global trend. While the Bank of England's 14 rate hikes in the past two years may be tapering off, the impact remains.
        </div>

        <img src="/assets/img/2024interest.jpg" alt="Jersey interest rate" style="width: 100%;" />
        <p style="font-size: small; font-style: italic;">Source: National Central Banks & BBC</p>

        <div style="padding-bottom: 2em;">
            Unlike countries with long-term fixed-rate mortgages, Jersey and the UK rely heavily on short-term deals. Many borrowers have faced increased repayments, with more expected in 2024.
            <br><br>
            Yet, there's potential relief. If the UK's declining inflation persists, economists predict a spring rate cut by the Bank of England, aligning with other central banks. Already, fixed-rate mortgage deals are decreasing, offering some respite for Jersey borrowers.
        </div>
    
    </div>
</div>



<h1 id="growth" class="tiles__title-h2" style="text-align: left; margin: 0; padding: 0;">Economic Growth</h1>
<div class="page-neutral-intro" style="margin-bottom: 3em;">
    <div class="wrapper" style="font-size: 1.2em">

        <div style="padding-top: 2em; padding-bottom: 2em;">
            In the past couple of years, Jersey's GDP growth outpaced the UK and France but lagged slightly behind the US. Contrary to earlier estimates, Jersey's economy showed resilience, with a growth rate of 8.5% over the last 5 years, outperforming the UK (5.6%) and France (5.1%). In comparison, the US recorded an 11% growth, while Germany faced challenges due to manufacturing vulnerabilities and energy-related issues.
        </div>

        <img src="/assets/img/2024gdp.png" alt="Jersey gdp comparison" style="width: 100%;" />
        <p style="font-size: small; font-style: italic;">Source: stats.je, data from stats.oecd.org</p>

        <div style="padding-bottom: 2em;">
            While the UK's economy stalled and faced a potential recession, Jersey's growth trajectory remained comparatively steady. The impact of recent rate rises in the UK raised concerns about minimal growth in the coming years, contrasting with Jersey's more favorable economic outlook.
            <br><br>
            In the context of rising inequality and sluggish growth in the UK over the past 15 years, Jersey's higher growth rate becomes particularly notable. Policymakers in Jersey emphasize the importance of sustaining this growth momentum to ensure economic resilience.
        </div>

    </div>
</div>



<h1 id="employment" class="tiles__title-h2" style="text-align: left; margin: 0; padding: 0;">Unemployment Rate</h1>
<div class="page-neutral-intro" style="margin-bottom: 3em;">
    <div class="wrapper" style="font-size: 1.2em">

        <img src="/assets/img/2024unemployment.png" alt="Jersey unemployment rate" style="width: 100%;" />
        <p style="font-size: small; font-style: italic; ">
            Source: stats.je, modified using TradingView, Jersey data from TradingView and opendata.
            FRUR = France, EUUR = Eurozone, DEUR = Germany, JEUR = Jersey, GBUR = UK, USUR = USA
        </p>

        <div style="padding-bottom: 2em;">
            Despite challenges from Covid and higher interest rates, Jersey's job market is resilient with an unemployment rate of around 4.3%, slightly higher than the UK's 4.2%. It remains lower than France's 7% but higher than Germany and the US. Rising interest rates have led to caution in hiring, potentially resulting in a modest uptick in unemployment.
        </div>

    </div>
</div>




<h1 id="tax" class="tiles__title-h2" style="text-align: left; margin: 0; padding: 0;">Tax</h1>
<div class="page-neutral-intro" style="margin-bottom: 3em;">
    <div class="wrapper" style="font-size: 1.2em">

        <div style="padding-top: 2em; padding-bottom: 2em;">
            Jersey's tax revenue for 2023 stands at approximately 20.2%. Beyond job market, inflation, and interest rates, tax bills for workers have risen as income tax thresholds fail to keep pace with inflation.
            <br><br>
            Despite this, Jersey's tax burden, the proportion of income or GDP paid in taxes, is lower than the EU average but higher than that in the US. Comparatively, France already sees 46 cents for every euro generated going to the taxman.
        </div>

        <img src="/assets/img/2024tax.png" alt="Jersey tax" style="width: 100%;" />
        <p style="font-size: small; font-style: italic; ">Source: Data from OECD and policy.je, adapted from BBC</p>

        <div style="padding-bottom: 2em;">
            While 2023 brought challenges, there are both positive and challenging aspects as the new year approaches. Politicians will grapple with these issues, especially in the context of economic considerations, a crucial battleground in upcoming elections. The focus remains on balancing prosperity and addressing the concerns of households amid evolving economic conditions.
        </div>

    </div>
</div>

<a class="underline-link" href="#main">Back to top</a>
