<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TPX1RN22P5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TPX1RN22P5');
    </script>
</head>

<style>
    tr:hover {
        background-color: #DEDEDE; /* light grey color */
    }
</style>

<h1 style="text-align: center; font-size: 36px; margin-top: 1em; margin-bottom: 0em;">
    Jersey Economic Forecasts
</h1>



<div style="text-align: center !important; max-width: 800px; margin: 20px auto; font-size: 18px;">

    <p style="line-height: 1.5; font-size: 1em;">

        <a href="#overview" style="margin: 0 0.5em;">Overview</a> |
        <a href="#markets" style="margin: 0 0.5em;">Markets</a> |
        <a href="#ratings" style="margin: 0 0.5em;">Credit Ratings</a> 

    </p>

</div>



<div style="overflow-x: auto; margin-bottom: 3em;" id="overview">
    <table style="border-collapse: collapse; width: 100%; border: 1px solid #dddddd;">
        <thead>
            <tr style="background-color: white">
                <th colspan="7" style="border: 1px solid rgb(255, 255, 255); text-align: left; padding: 8px; color: rgb(0, 0, 0); font-weight: bold; font-size: 1.5em;">Overview</th>
            </tr>
        </thead>
        <thead>
            <tr style="background-color: #d81c1c;">

                <th style="border: 1px solid #d81c1c; text-align: center; padding: 8px; color: white; font-weight: bold;">Indicator</th>
                <th style="border: 1px solid #d81c1c; text-align: center; padding: 8px; color: white; font-weight: bold;">Country</th>
                <th style="border: 1px solid #d81c1c; text-align: center; padding: 8px; color: white; font-weight: bold;">Latest</th>
                <th style="border: 1px solid #d81c1c; text-align: center; padding: 8px; color: white; font-weight: bold;">Q1/24</th>
                <th style="border: 1px solid #d81c1c; text-align: center; padding: 8px; color: white; font-weight: bold;">Q2/24</th>
                <th style="border: 1px solid #d81c1c; text-align: center; padding: 8px; color: white; font-weight: bold;">Q3/24</th>
                <th style="border: 1px solid #d81c1c; text-align: center; padding: 8px; color: white; font-weight: bold;">Q4/24</th>
            </tr>
        </thead>


        <tbody id="forecastsBodyOverview">



            <tr>
                <td style="text-align: center; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">Interest Rate (%)</td>

                <td style="text-align: center; padding: 8px; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/jersey.png" alt="Jersey Interest Rate" style="width: 30px; height: 15px;"> 
                    <img src="/assets/img/uk.png" alt="UK Interest Rate" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">5.25</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">5.25</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">5.00</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">4.75</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc; color: #d81c1c;">4.50</td>
            </tr>



            <tr>
                <td style="text-align: center; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;" rowspan="2">
                    <a href="/econandbusiness/inflation">
                        Inflation Rate (%)
                    </a>
                </td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/uk.png" alt="UK Inflation Rate" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">3.90</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">2.7</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">2.0</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">1.6</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">1.7</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/jersey.png" alt="Jersey Inflation Rate" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">4.4</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">2.5</td>
            </tr>



            <tr>
                <td style="text-align: center; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;" rowspan="2">
                    <a href="/econandbusiness/gdp">
                        Annual GDP Growth Rate (%)
                    </a>
                </td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/uk.png" alt="UK GDP Growth" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">-0.10</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">0.3</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">0.4</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">0.3</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">0.4</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/jersey.png" alt="Jersey GDP Growth" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">5.9</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">2.7</td>
            </tr>
            


            <tr>
                <td style="text-align: center; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;" rowspan="2">
                    <a href="/employmentandhousing/employment">
                        Unemployment Rate (%)
                    </a>
                </td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/uk.png" alt="UK Unemployment Rate" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">4.2</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">4.6</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">4.7</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">4.7</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">4.8</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/jersey.png" alt="Jersey Unemployment Rate" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">4.4</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">4.6</td>
            </tr>



            <tr>
                <td style="text-align: center; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;" rowspan="2">
                    <a href="/employmentandhousing/hpi">
                        House Price Index (%)
                    </a>
                </td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/uk.png" alt="UK House Price Index" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">1.70</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">1.8</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">2.5</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">1</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">1.2</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/jersey.png" alt="Jersey House Price Index" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">2.0</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">-2.4</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">-1.9</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">-1.6</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">-0.5</td>
            </tr>



            <tr>
                <td style="text-align: center; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;" rowspan="2">
                    <a href="/econandbusiness/gdp">
                        GDP Per Capita
                    </a>
                </td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/uk.png" alt="UK GDP Per Capita" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">47587</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">48211</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/jersey.png" alt="Jersey GDP Per Capita" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">55819</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">56184</td>
            </tr>



            <tr>
                <td style="text-align: center; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;" rowspan="2">
                        Government Debt to GDP
                </td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/uk.png" alt="UK Government Debt to GDP" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">97.1</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">98.6</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 2px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/jersey.png" alt="Jersey Government Debt to GDP" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">31.8</td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 2px solid #ccc;">38.6</td>
            </tr>



            <tr>
                <td style="text-align: center; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;" rowspan="2">
                    <a href="/econandbusiness/outlook">
                        Business Confidence (scaled)
                    </a>
                </td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/uk.png" alt="UK Business Confidence" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">-15</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">2</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">7</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">7</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">8</td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; font-weight: bold;">
                    <img src="/assets/img/jersey.png" alt="Jersey Business Confidence" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">17</td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;"></td>
                <td style="text-align: center; border-bottom: 1px solid #ccc;">6</td>
            </tr>



        </tbody>
    </table>

    <div style="margin-top: 10px !important; font-size: 12px; display: flex; justify-content: space-between;">
        <em style="margin-right: auto;">Updated 2024.</em>
        <span>Source: Stats.je, TradingEconomics</span>
    </div>

</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get all the rows in the table body
    var rows = document.getElementById("forecastsBodyOverview").getElementsByTagName("tr");

    // Loop through each row starting from the second row (skipping the header row)
    for (var i = 1; i < rows.length; i += 2) {
      // Get the cells for the "Latest" and "Q4/24" columns in the current row and the next subrow
      var currentCells = rows[i].getElementsByTagName("td");
      var nextSubrowCells = rows[i + 1].getElementsByTagName("td");

      // Extract numeric values from the cell contents
      var latestValue = parseFloat(getNumericValue(currentCells[2].textContent));
      var q4Value = parseFloat(getNumericValue(currentCells[currentCells.length - 1].textContent));

      var subrowlatestValue = parseFloat(getNumericValue(nextSubrowCells[1].textContent));
      var nextSubrowQ4Value = parseFloat(getNumericValue(nextSubrowCells[nextSubrowCells.length - 1].textContent));

      // Add a class to the "Q4/24" cell based on the comparison with the "Latest" value
      if (!isNaN(latestValue) && !isNaN(q4Value) && !isNaN(subrowlatestValue) && !isNaN(nextSubrowQ4Value)) {
        if (q4Value > latestValue) {
          currentCells[currentCells.length - 1].style.color = "green"; // Projection is larger, color it green
        } else if (q4Value < latestValue) {
          currentCells[currentCells.length - 1].style.color = "red"; // Projection is smaller, color it red
        }

        if (nextSubrowQ4Value > subrowlatestValue) {
          nextSubrowCells[nextSubrowCells.length - 1].style.color = "green"; // Projection is larger, color it green
        } else if (nextSubrowQ4Value < subrowlatestValue) {
          nextSubrowCells[nextSubrowCells.length - 1].style.color = "red"; // Projection is smaller, color it red
        }
      }
      // You can customize the colors or add additional conditions as needed
    }
  });

  // Function to extract numeric values from a string
  function getNumericValue(str) {
    var numericStr = str.replace(/[^\d.-]/g, ""); // Remove non-numeric characters
    return parseFloat(numericStr);
  }
</script>

  
  





<div style="overflow-x: auto; margin-bottom: 3em;" id="markets">

    <table style="border-collapse: collapse; width: 100%; border: 1px solid #dddddd;">
        <thead>
            <tr style="background-color: white">
                <th colspan="7" style="border: 1px solid rgb(255, 255, 255); text-align: left; padding: 8px; color: rgb(0, 0, 0); font-weight: bold; font-size: 1.5em;">Markets</th>
            </tr>
        </thead>
        <thead>
            <tr style="background-color: #d81c1c;">
                <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white; font-weight: bold; text-align: center;">Country</th>
                <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white; font-weight: bold;">Indicator</th>
                <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white; font-weight: bold;">Latest</th>
                <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white; font-weight: bold;">Q1/24</th>
                <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white; font-weight: bold;">Q2/24</th>
                <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white; font-weight: bold;">Q3/24</th>
                <th style="border: 1px solid #d81c1c; text-align: left; padding: 8px; color: white; font-weight: bold;">Q4/24</th>
            </tr>
        </thead>
        <tbody id="forecastsBodyMarkets">


            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc;">
                    <img src="/assets/img/jersey.png" alt="Jersey Economic Event" style="width: 30px; height: 15px;"> <img src="/assets/img/uk.png" alt="UK Economic Event" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; font-weight: bold;">Currency (GBP/USD)</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">1.27</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">1.25</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">1.23</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">1.21</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">1.2</td>
            </tr>



            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc;">
                    <img src="/assets/img/jersey.png" alt="Jersey Economic Event" style="width: 30px; height: 15px;"> <img src="/assets/img/uk.png" alt="UK Economic Event" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; font-weight: bold;">Stock Market (FTSE100)</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">7681.30</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">7549</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">7406</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">7265</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">7127</td>
            </tr>



            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc;">
                    <img src="/assets/img/jersey.png" alt="Jersey Economic Event" style="width: 30px; height: 15px;"> <img src="/assets/img/uk.png" alt="UK Economic Event" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc; font-weight: bold;">Government Bond 10Y (BOE) (%)</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">3.79</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">3.58</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">3.49</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">3.4</td>
                <td style="text-align: left; padding: 8px; border-bottom: 1px solid #ccc;">3.31</td>
            </tr>


        </tbody>
    </table>

    <div style="margin-top: 10px !important; font-size: 12px; display: flex; justify-content: space-between;">
        <em style="margin-right: auto;">Updated 2024</em>
        <span>Source: Stats.je, TradingEconomics</span>
    </div>

</div>





<div style="overflow-x: auto; margin-bottom: 3em;" id="ratings">

    <table style="border-collapse: collapse; width: 100%; border: 1px solid #dddddd;">
        <thead>
            <tr style="background-color: white">
                <th colspan="9" style="border: 1px solid rgb(255, 255, 255); text-align: left; padding: 8px; color: rgb(0, 0, 0); font-weight: bold; font-size: 1.5em;">Credit Ratings</th>
            </tr>
        </thead>
        <thead>
            <tr style="background-color: white; color: black; text-align: center;">
                <th style="border: 1px solid white; padding: 8px;"></th>
                <th style="border: 1px solid white; padding: 8px; font-weight: bold;" colspan="2">S&P Ratings</th>
                <th style="border: 1px solid white; padding: 8px; font-weight: bold;" colspan="2">Moody's Ratings</th>
                <th style="border: 1px solid white; padding: 8px; font-weight: bold;" colspan="2">DBRS Ratings</th>
                <th style="border: 1px solid white; padding: 8px; font-weight: bold;" colspan="2">TE Ratings</th>
            </tr>
        
            <tr style="background-color: #d81c1c; color: white; text-align: center;">
                <th style="border: 1px solid #d81c1c; padding: 8px; font-weight: bold;">Country</th>
                <th style="border: 1px solid #d81c1c; padding: 8px; font-weight: bold;">Latest</th>
                <th style="border: 1px solid #d81c1c; padding: 8px; font-weight: bold;">2024</th>
                <th style="border: 1px solid #d81c1c; padding: 8px; font-weight: bold;">Latest</th>
                <th style="border: 1px solid #d81c1c; padding: 8px; font-weight: bold;">2024</th>
                <th style="border: 1px solid #d81c1c; padding: 8px; font-weight: bold;">Latest</th>
                <th style="border: 1px solid #d81c1c; padding: 8px; font-weight: bold;">2024</th>
                <th style="border: 1px solid #d81c1c; padding: 8px; font-weight: bold;">Latest</th>
                <th style="border: 1px solid #d81c1c; padding: 8px; font-weight: bold;">2024</th>
            </tr>
        </thead>

        <tbody id="forecastsBodyMarkets">


            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc;">
                    <img src="/assets/img/uk.png" alt="UK Economic Event" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;">AA</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;">AA</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;">Aa3</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;">Aa3</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;">AA</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;">AA</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;">87</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;">87</td>
            </tr>



            <tr>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc;">
                    <img src="/assets/img/jersey.png" alt="Jersey Economic Event" style="width: 30px; height: 15px;"> 
                </td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;">AA-</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;">AA-</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;">A1</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;">A1</td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;"></td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;"></td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;"></td>
                <td style="text-align: center; padding: 8px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;"></td>
            </tr>


        </tbody>
    </table>

    <div style="margin-top: 10px !important; font-size: 12px; display: flex; justify-content: space-between;">
        <em style="margin-right: auto;">Updated 2024</em>
        <span>Source: Stats.je, spglobal.com, moodys.com, TradingEconomics</span>
    </div>

</div>