<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TPX1RN22P5"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TPX1RN22P5');
    </script>
</head>

<h3><strong>Privacy Policy</strong></h3>

<p><strong>Security Measures</strong></p>
<p>At Stats.JE, we prioritise the security of your information. We employ Secure Socket Layer (SSL) encryption technology to safeguard data transmission, ensuring that your information is protected from interception by unauthorized parties. Our commitment to security includes industry-standard measures such as firewalls, authentication systems, and access controls.</p>

<p><strong>Cookies Usage</strong></p>
<p>We utilize cookies on Stats.JE to enhance your browsing experience. These small files help us track visitor activity, allowing us to understand the effectiveness of advertisements and promotions. Any data collected and shared through cookies is anonymous and not personally identifiable, aligning with our dedication to privacy.</p>



<br>

<hr style="border: none; border-top: 1px solid #000; margin: 20px 0;">

<!-- SOJ INFO-->  
<div style="display: flex; align-items: center;">
    <img class="footer-license__img" alt="OGL" width="60" src="https://cdn.ons.gov.uk/assets/images/logo-ogl-footer.svg" style="margin-right: 10px; margin-right: 50px;">
    <p class="footer-license__text" style="margin-left: 0;">
      Some data used on Stats.JE is available under the Open Government Licences of Jersey (OGL-J) and the UK, except where otherwise stated
    </p>
  </div>

  <hr style="border: none; border-top: 1px solid #000; margin: 20px 0;">
