<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TPX1RN22P5"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TPX1RN22P5');
  </script>

  <meta name="description" content="Elevate your understanding of the local economy with StatsJE Offerings. Access essential statistical reports, leveraging innovative data sources for businesses and government entities. Unlock valuable insights for strategic decision-making in Jersey.">

</head>

<section class="ftco-cover ftco-slant ftco-slant-black" style="background-image: url(/images/mountains.jpg);" id="section-home">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center ftco-vh-100">
        <div class="col-md-10">
          <h1 class="ftco-heading ftco-animate"><strong>StatsJE Offerings</strong></h1>
          <h2 class="h5 ftco-subheading mb-5 ftco-animate">Elevate your understanding of the local economy with our data-driven insights. Access essential statistical reports, leveraging innovative data sources for businesses and government entities.</h2>    
        </div>
      </div>
    </div>
  </section>
  
  

  <section class="ftco-section ftco-slant ftco-slant-dark" id="section-about" style="background-color: black;">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-12 text-center ftco-animate">
          <h2 class="text-uppercase ftco-uppercase" style="color: white; padding-bottom: 1em;"><strong>Offerings</strong></h2>
          <div class="row justify-content-center mb-5">
            <div>
              <p class="lead" style="color: white;">We assess economic challenges' impact on Jersey businesses and government, providing real-time insights into finances, workforce dynamics, trade effects, and resilience. Our tailored intelligence aids strategic decisions for effective navigation of the local economy.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row no-gutters align-items-center ftco-animate">
        <div class="col-md-6 mb-md-0 mb-5">
          <img src="/assets/img/buildings.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 p-md-5">
          <h3 class="h3 mb-4" style="color: white;"><strong>Guiding Strategic Decision-Making</strong></h3>
          <p style="color: white;">Empower your public initiatives with our strategic insights. Navigate the evolving economic landscape confidently with concise forecasts and data-driven projections tailored to the unique needs of governmental entities.</p>
          <p class="mb-5"><a href="/reports/public2023">Strategic Government Insights: Housing Market Overview (2023-2024)</a></p>
        </div>
      </div>

      <hr style="border: none; border-top: 1px solid white; margin-top: 2em; margin-bottom: 3em; margin-left: auto; margin-right: auto; width: 100%;">

      <div class="row no-gutters align-items-center ftco-animate">
        <div class="col-md-6 order-md-3 mb-md-0 mb-5">
          <img src="/assets/img/people.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 p-md-5 order-md-1">
          <h3 class="h3 mb-4"  style="color: white;"><strong>Strategic Economic Analysis for Informed Business Decisions</strong></h3>
          <p  style="color: white;">Refine your business strategy with our in-depth insights into the economic landscape for 2023-2024. Utilize clear forecasts and projections, powered by data, to make informed decisions and stay ahead in a dynamic market.</p>
          <p class="mb-5"><a href="/reports/business2023">Strategic Economic Insights for Businesses: Overview (2023-2024)</a></p>
        </div>
      </div>

      <hr style="border: none; border-top: 1px solid white; margin-top: 1em; margin-bottom: 4em; margin-left: auto; margin-right: auto; width: 100%;">

      <div class="row no-gutters align-items-center ftco-animate">
        <div class="col-md-6 mb-md-0 mb-5">
          <img src="/assets/img/AIJE.gif" class="img-fluid">
        </div>
        <div class="col-md-6 p-md-5">
          <h3 class="h3 mb-4" style="color: white;"><strong>Artificial Intelligence & Machine Learning</strong></h3>
          <p style="color: white;">Automate workflows and reports, optimise data pipelines, tailor models, and employ cutting-edge ML & LLM frameworks to gain insightful guidance for strategic future planning.</p>
          <p style="color: white;">Coming 2024</p>
          <p class="mb-5"><a href="/AI">Learn More</a></p>
        </div>
      </div>


    </div>



    <div class="container" style="margin-top: 2em; margin-bottom: 2em;">
      <div class="row justify-content-center">
        <img src="/assets/img/statsJEfavi.png" alt="Jersey Statistics stats.je Icon" style="height: 43px; width: 40px; margin-top: 3em;">
      </div>
    </div>
    

  </section>