<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TPX1RN22P5"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TPX1RN22P5');
  </script>

<meta name="description" content="Explore housing trends and future projections in Jersey with data-driven insights. Gain a comprehensive understanding of the real estate landscape for informed decision-making.">

</head>

<section class="ftco-cover ftco-slant ftco-slant-black" style="background-image: url(/images/sthelier.jpg);" id="publicmain">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center ftco-vh-100">
      <div class="col-md-10">
        <h1 class="ftco-heading ftco-animate"><strong>Jersey Housing Insights: Trends and Future Projections</strong></h1>
        <h2 class="h5 ftco-subheading mb-5 ftco-animate">2023 - 2024</h2>    
      </div>
    </div>
  </div>
</section>






<section class="ftco-section ftco-bg-black ftco-slant" style="padding-bottom: 5em;">
    <div class="container">
        <div class="row mb-5">            
            <div class="col-md-12 text-center ftco-animate">

              <hr style="border: none; border-top: 1px solid white; margin: 20px auto; width: 80%; margin-bottom: 4em;">

                <h2 class="text-uppercase ftco-uppercase" style="color: white;">A deep dive into Jersey's Housing Sector</h2>
                <div class="row justify-content-center mb-5" style="margin-bottom: 0px;">
                    <div class="col-md-7">
                        <p class="lead" style="font-size: 24px; color: white;">- Q3 2023 -</p>
                    </div>
                </div>
                
                <hr style="border: none; border-top: 1px solid white; margin: 3em auto; width: 80%;">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 mb-5 ftco-animate mx-auto">
                            <h3 class="h4" style="padding-bottom: 10px; font-size: 20px; font-weight: bold; color: white;">Overview</h3>

                            <p class="nav-item" style="font-size: 18px; color: white !important; margin-bottom: 0px;">
                              <a href="#part1" class="nav-link smooth-scroll" style="color: white !important;">Key Findings</a>
                            </p>

                            <p class="nav-item" style="font-size: 18px; color: white !important; margin-bottom: 0px;">
                                <a href="#part2" class="nav-link smooth-scroll" style="color: white !important;">Jersey's Socioeconomic Landscape</a>
                            </p>

                            <p class="nav-item" style="font-size: 18px; color: white; margin-bottom: 0px;">
                                <a href="#part3" class="nav-link smooth-scroll" style="color: white !important;">Current Housing Sector Trends</a>
                            </p>

                            <p class="nav-item" style="font-size: 18px; color: white; margin-bottom: 0px;">
                                <a href="#part4" class="nav-link smooth-scroll" style="color: white !important;">Understanding Dynamics</a>
                            </p>

                            <p class="nav-item" style="font-size: 18px; color: white; margin-bottom: 0px;">
                                <a href="#part5" class="nav-link smooth-scroll" style="color: white !important;">Future Projections</a>
                            </p>

                            <img src="/assets/img/statsJEfavi.png" alt="Jersey Statistics stats.je Icon" style="height: 43px; width: 40px; margin-top: 3em;">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    
</section>






<section class="ftco-section bg-light ftco-slant ftco-slant-white" id="part1">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center ftco-animate">
        <h2 class="text-uppercase ftco-uppercase">Key Findings</h2>
        <div class="row justify-content-center mb-0">
          <div class="col-md-7">
            <p class="lead">Q3 2023</p>
          </div>
        </div>
      </div>
    </div>


      
      <div class="row">
        <div class="col-lg-4 ftco-animate" style="margin-bottom: 0px; ">
          <div class="p-3">
            <h3 class="h4">1. Sharp Turnover Decline</h3>
            <p class="mb-4">Property turnover is notably declining across parishes, with a sharp drop in flat turnover and a simultaneous fall in house turnover. This highlights a significant slowdown in the housing market.</p>
          </div>
        </div>

        <div class="col-lg-4 ftco-animate">
          <div class="p-3">
            <h3 class="h4">2. Resilient Property Values</h3>
            <p class="mb-4">Despite the decrease in turnover, property values have remained resilient, with average house prices showing stability or positive trends.</p>
          </div>
        </div>

        <div class="col-lg-4 ftco-animate">
          <div class="p-3">
            <h3 class="h4">3. Affordability Challenges</h3>
            <p class="mb-4">The House Price Index to Average Earning Index (HPI:AEI) ratio reflects escalating housing unaffordability, posing potential challenges for residents looking to enter the property market.</p>
          </div>
        </div>

        <div class="col-lg-4 ftco-animate">
          <div class="p-3">
            <h3 class="h4">4. Varied Property Type Trends</h3>
            <p class="mb-4">Performance varies across property types, with declines in 1-bed flats and 3-bed houses, suggesting nuanced influences on market dynamics.</p>
          </div>
        </div>

        <div class="col-lg-4 ftco-animate">
          <div class="p-3">
            <h3 class="h4">5. Positive Quarterly HPI Change</h3>
            <p class="mb-4">The House Price Index (HPI) for Q3 2023 shows a positive quarterly change of +2.4%, indicating recent market resilience despite broader challenges.</p>
          </div>
        </div>

        <div class="col-lg-4 ftco-animate">
          <div class="p-3">
            <h3 class="h4">6. Future Uncertainties</h3>
            <p class="mb-4">While the next 5 years anticipate positive trends in property values, short-term uncertainty due to macroeconomic pressures underscores the importance of vigilant monitoring of key indicators.</p>
          </div>
        </div>
      </div>




    <div class="container">
      <div class="row justify-content-center">
        <img src="/assets/img/statsJEfavi.png" style="height: 43px; width: 40px; margin-top: 3em;">
      </div>
    </div>
    
</section>








<section class="ftco-section ftco-slant" id="part2">

  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center ftco-animate">
        <h2 class="text-uppercase ftco-uppercase">Analysing Jersey's Socioeconomic Dynamics</h2>
        <div class="row justify-content-center mb-0">

          <div class="col-md-7">
            <p class="lead" style="font-size: 18px; padding-bottom: 20px;">Exploring Jersey's Social and Economic Landscape with K-Means Similarity Cluster Analysis of Active Datasets</p>
          </div>

          <div style="position: relative; width: 100%; padding-bottom: 50%; overflow: hidden;">
            <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" src="https://stats.je/api/reports/public/tnse"></iframe>
          </div>

        </div>
      </div>
    </div>

    <div class="row">

      <!-- Government and Public Administration Metrics -->
      <div class="col-lg-4 mb-5 ftco-animate">
        <div class="p-3">
          <h3 class="h4" style="padding-bottom: 10px;">Government and Public Administration Metrics</h3>
          <ul class="list-unstyled ftco-list-check text-left">
            <li class="d-flex mb-2"> <span><strong>Cluster 2:</strong> States Assembly Post Holders</span></li>
            <li class="d-flex mb-2"> <span><strong>Cluster 7:</strong> Area farmed, BTI scores national, Greenhouse gas emissions, and more</span></li>
            <li class="d-flex mb-2"> <span><strong>Cluster 12:</strong> Arts and culture grants, Coronavirus (COVID-19) data, Government reports, and more</span></li>
          </ul>
        </div>
      </div>
    
      <!-- Economic and Social Indicators -->
      <div class="col-lg-4 mb-5 ftco-animate">
        <div class="p-3">
          <h3 class="h4" style="padding-bottom: 10px;">Economic and Social Indicators</h3>
          <ul class="list-unstyled ftco-list-check text-left">
            <li class="d-flex mb-2"> <span><strong>Cluster 1:</strong> Annual mortality, STIA split by Ailment, Annual income and expenditure, and more</span></li>
            <li class="d-flex mb-2"> <span><strong>Cluster 10:</strong> Housing Affordability Index, GVA components, Finance sector GVA, and more</span></li>
            <li class="d-flex mb-2"> <span><strong>Cluster 15:</strong> Income Support Claims, Household income, RPIY, and more</span></li>
            <li class="d-flex mb-2"> <span><strong>Cluster 19:</strong> Prison statistics, Annual Tourism Statistics, Monthly Actively Seeking Work Statistics, and more</span></li>
          </ul>
        </div>
      </div>
    
      <!-- Demographic and Environmental Statistics -->
      <div class="col-lg-4 mb-5 ftco-animate">
        <div class="p-3">
          <h3 class="h4" style="padding-bottom: 10px;">Demographic and Environmental Statistics</h3>
          <ul class="list-unstyled ftco-list-check text-left">
            <li class="d-flex mb-2"> <span><strong>Cluster 3:</strong> Total students, Total employment, Total rainfall, Total population, and more</span></li>
            <li class="d-flex mb-2"> <span><strong>Cluster 8:</strong> Adult population by residential qualifications, Recorded crime per 1,000 population</span></li>
            <li class="d-flex mb-2"> <span><strong>Cluster 16:</strong> Number of private undertakings, FTE by sector, Supply, demand, and balance</span></li>
          </ul>
        </div>
      </div>

      <p style="text-align: center !important; margin-top: 1em !important; color: black !important;">

        The graph analyses Jersey's socioeconomic landscape using K-Means Similarity Cluster Analysis. 
        Cluster 10 emphasises economic housing aspects, including the Housing Affordability Index, HPI and GVA metrics. 
        Cluster 15 focuses on social and income dimensions, encompassing data on income support claims, household income, and the Retail Prices Index (RPIY). 
        Together, these clusters provide a concise yet comprehensive view of Jersey's housing sector, highlighting the interplay between economic and social factors in shaping the region's socioeconomic landscape.

      </p>    
    
    </div>
    

    </div>
    <div class="container">
      <div class="row justify-content-center">
        <img src="/assets/img/statsJEfavi.png" alt="Jersey Statistics stats.je Icon" style="height: 43px; width: 40px; margin-top: 3em;">
      </div>
    </div>
    
  </div>
</section>










<section class="ftco-section bg-light ftco-slant ftco-slant-white" id="part3">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center ftco-animate">
        <h2 class="text-uppercase ftco-uppercase">Housing Sector Trends</h2>
        <div class="row justify-content-center mb-0">

            <p class="lead" style="font-size: 18px; padding-bottom: 20px; margin-top: 2em;">

              Following a period of vigorous growth characterized by elevated property transactions and rising average house prices, Jersey's housing market has recently undergone a sharp shift. 
              While property values have remained resilient, there has been a significant decrease in property turnover volume across all property types, with 9 out of 12 parishes reporting declines. 
              As of Q3 2023, the heightened costs of housing and land present a potential challenge to Jersey's productivity, posing a tangible risk to future economic growth.           
            
            </p>
          
        </div>
      </div>
    </div>

    <div class="row">



      <div class="col-md-6 mb-5 ftco-animate">
         <h3 class="h5 mb-4">HPI Q3 2023</h3>
         <img src="/images/public/hpiseason.png" class="img-fluid">
         <p style="margin-top: 1.5em;">

         <div style="width: 100%;">

            <table style="border-collapse: collapse; width: 100%; font-size: 14px;">
               <colgroup>
                  <col style="width: 25%;">
                  <col style="width: 25%;">
                  <col style="width: 25%;">
                  <col style="width: 25%;">
               </colgroup>
               <tr>
                  <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;"></th>
                  <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;">Quarter</th>
                  <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;">Year</th>
                  <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;">5-Year</th>
               </tr>
               <tr>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center;"><strong>HPI (SA)</strong></td>
                  <td style="padding: 8px; color: green; font-weight: bold; border: 1px solid #ddd; text-align: center;">+2.4%</td>
                  <td style="padding: 8px; color: red; font-weight: bold; border: 1px solid #ddd; text-align: center;">-2.0%</td>
                  <td style="padding: 8px; color: green; font-weight: bold; border: 1px solid #ddd; text-align: center;">+46.5%</td>
               </tr>
            </table>

         </div>
         <p style="font-size: 14px; margin-top: 1em; color: black !important;">
            The Home Price Index (SA) data reveals positive trends in the most recent quarter, with a growth of +2.4%. However, on an annual basis, there is a slight decrease of -2.0%. Over the past 5 years, the HPI has shown a significant overall increase of +46.5%.            
         </p>

         </p>
      </div>



      <div class="col-md-6 mb-5 ftco-animate">
         <h3 class="h5 mb-4">HPI Change Q3 2023</h3>
         <img src="/images/public/hpichange.png" class="img-fluid">
         <p style="margin-top: 1.5em;">
         <p style="color: black !important;">The quarterly HPI change <span style="color: green; font-weight: bold;">(+4.9%)</span> reflects the latest HPI uptick in Q3 2023 from sharp decrease in HPI figures in the mdeium term.</p>
         <p style="color: black !important;">This change contributes to a more modest <span style="color: red; font-weight: bold;">2% annual HPI decline</span>, indicating recent market resilience but an overall softer performance over the past year.</p>
         </p>
      </div>



      <div class="col-md-6 mb-5 ftco-animate">
         <h3 class="h5 mb-4">Quarterly Economic And Housing Index Trends</h3>
         <img src="/images/public/indexes.png" class="img-fluid">
         <p style="margin-top: 1.5em;">

          <div style="width: 100%;">

            <div style="text-align: center; font-size: 14px; font-weight: bold;">
              Unaffordability Change
            </div>
            <table style="border-collapse: collapse; width: 100%; font-size: 14px;">
              <colgroup>
                <col style="width: 25%;">
                <col style="width: 25%;">
                <col style="width: 25%;">
                <col style="width: 25%;">
              </colgroup>
              <tr>
                <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;"></th>
                <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;">Yearly</th>
                <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;">5-Year</th>
                <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;">20-Year</th>
              </tr>
              <tr>
                <td style="padding: 8px; border: 1px solid #ddd; text-align: center;"><strong>HPI:AEI</strong></td>
                <td style="padding: 8px; color: red; font-weight: bold; border: 1px solid #ddd; text-align: center;">+12.3%</td>
                <td style="padding: 8px; color: red; font-weight: bold; border: 1px solid #ddd; text-align: center;">+26.2%</td>
                <td style="padding: 8px; color: red; font-weight: bold; border: 1px solid #ddd; text-align: center;">+24.7%</td>
              </tr>
            </table>
            

         </div>
         <p style="font-size: 14px; margin-top: 1em; color: black !important;">
          The House Price Index to Average Earning Index (HPI:AEI) ratio reflects escalating housing unaffordability, with annual, 5-year, and 20-year figures showing increases of 12.3%, 26.2%, and 24.7%, respectively.
        </p>
        </p>
      </div>



      <div class="col-md-6 mb-5 ftco-animate">
         <h3 class="h5 mb-4">Comparing Housing Affordability Across UK Regions</h3>
         <img src="/images/public/housingafford.png" class="img-fluid">
         <p style="margin-top: 1.5em; color: black !important;">
          In recent years, the average house price to average salary ratio has seen significant shifts across various UK regions. Notably, Jersey's ratio has consistently increased, reaching 14.9 in 2022. Compared to England, this represents a substantial <span style="color: red; font-weight: bold;">79.35% increase in housing unaffordability in Jersey</span>, signaling a notable widening of the affordability gap over the past decade.
         </p>
      </div>



      <div class="col-md-6 mb-5 ftco-animate">
         <h3 class="h5 mb-4">Trends in Property Prices by Type</h3>
         <img src="/images/public/housinggraph.png" class="img-fluid">
         <p style="margin-top: 1.5em;">
         <div style="width: 100%;">
            <table style="border-collapse: collapse; width: 100%; font-size: 14px;">
               <colgroup>
                  <col style="width: 25%;">
                  <col style="width: 25%;">
                  <col style="width: 25%;">
                  <col style="width: 25%;">
               </colgroup>
               <tr>
                  <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;"></th>
                  <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;">Quarter</th>
                  <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;">Year</th>
                  <th style="padding: 8px; background-color: #f2f2f2; border: 1px solid #ddd; text-align: center;">5-Year</th>
               </tr>
               <tr>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; font-size: 14px;"><strong>1-bed Flats</strong></td>
                  <td style="padding: 8px; color: red; font-weight: bold; border: 1px solid #ddd; text-align: center;">-5.8%</td>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; color: red; font-weight: bold;">-2.16%</td>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; color: green; font-weight: bold;">+49.78%</td>
               </tr>
               <tr>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; font-size: 14px;"><strong>2-bed Flats</strong></td>
                  <td style="padding: 8px; color: red; font-weight: bold; border: 1px solid #ddd; text-align: center;">-2.0%</td>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; color: green; font-weight: bold;">+0.18%</td>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; color: green; font-weight: bold;">+30.82%</td>
               </tr>
               <tr>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; font-size: 14px;"><strong>2-bed Houses</strong></td>
                  <td style="padding: 8px; color: green; font-weight: bold; border: 1px solid #ddd; text-align: center;">+2.9%</td>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; color: red; font-weight: bold;">-4.11%</td>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; color: green; font-weight: bold;">+42.95%</td>
               </tr>
               <tr>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; font-size: 14px;"><strong>3-bed Houses</strong></td>
                  <td style="padding: 8px; color: red; font-weight: bold; border: 1px solid #ddd; text-align: center;">-2.2%</td>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; color: red; font-weight: bold;">-6.86%</td>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; color: green; font-weight: bold;">+40.03%</td>
               </tr>
               <tr>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; font-size: 14px;"><strong>4-bed Houses</strong></td>
                  <td style="padding: 8px; color: green; font-weight: bold; border: 1px solid #ddd; text-align: center;">+1.1%</td>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; color: green; font-weight: bold;">+5.64%</td>
                  <td style="padding: 8px; border: 1px solid #ddd; text-align: center; color: green; font-weight: bold;">+38.49%</td>
               </tr>
            </table>
         </div>
         <p style="font-size: 14px; margin-top: 1em; color: black !important;">
            Recent data from Jersey's property market shows a weakening trend, with notable declines in 1-bed flats (-5.8%) and 3-bed houses (-2.2%). Signs of renewed downside, especially in 1-bed flats, and mixed results across property types suggest a dampening in market performance.
         </p>
         </p>
      </div>


      <div class="col-md-6 mb-5 ftco-animate">
         <h3 class="h5 mb-4">Analysing Property Turnover Trends: Flats and Houses</h3>
         <img src="/images/public/turnover.png" class="img-fluid">
         <p style="margin-top: 1.5em; color: black !important;">
          The latest housing data reveals a pronounced downward trend in turnover for both flats and houses in Jersey. In September 2023, turnover for 1 and 2 bed flats dropped by around <span style="color: red; font-weight: bold;">-22.1%</span> and <span style="color: red; font-weight: bold;">-32.6%</span>, respectively.        
         </p>
          <p style="color: black !important;">
            Similarly, turnover for 2, 3, and 4 bed houses experienced declines of approximately <span style="color: red; font-weight: bold;">-22.4%, -33.6%,</span> and <span style="color: red; font-weight: bold;">-41.8%</span>, respectively.           
          </p>

        </div>



      <div class="col-md-6 mb-5 ftco-animate">
         <h3 class="h5 mb-4">Comparing Quarterly HPI and Property Turnover Quarterly Changes</h3>
         <img src="/images/public/hpiturnover.png" class="img-fluid">
         <p style="margin-top: 1.5em; color: black !important;">
          In the recent data for Jersey, both the House Price Index (HPI) change and Total Property Turnover change exhibit dynamic trends. 
          The HPI change fluctuated from <span style="color: green; font-weight: bold;">+8.4%</span> in June 2021 to <span style="color: red; font-weight: bold;">-1.5%</span> in September 2023, indicating varied market conditions.
          Simultaneously, Total Turnover Change peaked <span style="color: green; font-weight: bold;">+67.5%</span> in June 2021 QOQ but sharply declined <span style="color: red; font-weight: bold;">-63.25%</span> QOQ by September 2023, signifying significant shifts in both house prices and property turnover within the specified timeframe.
         </p>
      </div>



      <div class="col-md-6 mb-5 ftco-animate">
         <h3 class="h5 mb-4">Average Yearly Changes in Property Turnover for Flats and Houses</h3>
         <img src="/images/public/turnoverchange.png" class="img-fluid">
         <p style="margin-top: 1.5em; color: black !important;">
          In 2023, property turnover changes in Jersey varied by type. 1 Bed Flats saw a significant decline of approximately <span style="color: red; font-weight: bold;">-24.67%</span> YOY, while 2 Bed Flats decreased by approximately <span style="color: red; font-weight: bold;">-16.00%</span> YOY. 
          </p>
          <p style="color: black !important;">
            2 Bed Houses experienced a small positive change of approximately <span style="color: green; font-weight: bold;">1.67%</span> YOY, but both 3 Bed Houses and 4 Bed Houses faced declines of approximately <span style="color: red; font-weight: bold;">-5.33%</span> and <span style="color: red; font-weight: bold;">-2.67%</span> YOY, respectively.
          </p>
        
      </div>



      <div class="col-md-6 mb-5 ftco-animate">
         <h3 class="h5 mb-4">Total Property sales by Parish</h3>
         <img src="/images/public/parishes.png" class="img-fluid">
         <p style="margin-top: 1.5em; color: black !important;">
          In the last two years, St Helier saw a slight decrease in property turnover from <span style="color: red; font-weight: bold;">843 to 840</span>.         
        </p>
        <p style="color: black !important;">
          Meanwhile, St Mary, initially showing an increase, experienced a significant fall from <span style="color: red; font-weight: bold;">25 to 13</span> properties. The biggest gainer during this period was St Clement, with an increase in property turnover from <span style="color: green; font-weight: bold;">94 to 101</span>.        
        </p>
      </div>



      <div class="col-md-6 mb-5 ftco-animate">
         <h3 class="h5 mb-4">Property Turnover Change by Parish: 2021-2022</h3>
         <img src="/images/public/jerseychange.jpg" class="img-fluid">
         <p style="text-align: center; font-size: 10px;">
          <strong>
            Map illustrating housing turnover changes across parishes, with darker red indicating a decline and green indicating an increase.
          </strong>
        </p>
         <p style="margin-top: 1.5em; color: black !important;">
            The overall picture reveals a significant decline in property turnover across all parishes, indicating a broader trend of decreased activity in recent years.         
        </p>
      </div>



   </div>



    <div class="container">
      <div class="row justify-content-center">
        <img src="/assets/img/statsJEfavi.png" alt="Jersey Statistics stats.je Icon" style="height: 43px; width: 40px; margin-top: 3em;">
      </div>
    </div>
    
  </section>











  <section class="ftco-section ftco-slant" id="part4">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center ftco-animate">
          <h2 class="text-uppercase ftco-uppercase">Analysis of Housing Sector Dynamics</h2>
          <div class="row justify-content-center mb-0">
  
              <p class="lead" style="font-size: 18px; padding-bottom: 20px; margin-top: 2em;">
  
                Continuing from our exploration of Jersey's housing sector trends, this section hones in on specific variables. 
                Through focused statistical analysis, we unravel the dynamics influencing property turnover and pricing. 
                By delving into these selected factors, our aim is to offer a more nuanced understanding of the intricacies shaping Jersey's housing market.

              </p>
            
          </div>
        </div>
      </div>


      <div class="row justify-content-center ftco-animate">
        <h2 class="h5 mb-4" style="text-align: center; font-size: 25px;">Positive Quarterly HPI Change: Q3 2023 at 4.9%</h2>
        <img style="padding: 1em 3em 3em 3em;" src="/images/public/hpiprob.png" class="img-fluid">
        <p style="text-align: center; font-size: 12px;">
          <strong>
            a) Density histogram accompanied by a density plot and interquartile range (IQR) representation.
            b) Normal Probability plot (quantile-quantile) showcasing distribution characteristics and a 
            c) Box plot offering a visual representation of the dataset's spread and central tendency.
          </strong>
        </p>
        <p>

          <div>
            <div>
                <p style="color: black; font-size: 20px;"><span style="font-weight: bold;">Main Points:</span></p>
                <p style="color: black; font-size: 18px;"><span style="font-weight: bold;">a) Positive House Price Index (HPI) Change -</span> by 4.90% in Q3 2023</p>
                <p style="margin-left: 2em;">Q3 2023 witnessed a positive quarterly change of <span style="font-weight: bold;">4.90%</span> in the House Price Index (HPI), aligning closely with the mean quarterly change of 1.73%, supported by a sigma score of 0.55.</p>
            </div>
        
            <div>
                <p style="color: black; font-size: 18px;"><span style="font-weight: bold;">b) Moderate Variability -</span> Standard Deviation of 5.80</p>
                <p style="margin-left: 2em;">The standard deviation of <span style="font-weight: bold;">5.80</span> suggests a relatively moderate level of variability in the quarterly changes in the House Price Index (HPI).</p>
            </div>
        
            <div>
                <p style="color: black; font-size: 18px;"><span style="font-weight: bold;">c) Central Tendency -</span> Expected Mean and Median quarterly HPI change</p>
                <p style="margin-left: 2em;">The mean and median quarterly changes of <span style="font-weight: bold;">1.73%</span> and <span style="font-weight: bold;">2.05%</span>, respectively, highlight the central tendency of the House Price Index (HPI) data.</p>
            </div>
        
            <div>
                <p style="color: black; font-size: 18px;"><span style="font-weight: bold;">d) Notable Increase -</span> Comparison and Historical Context</p>
                <p style="margin-left: 2em;">Comparing Q2 2023 (<span style="font-weight: bold;">-0.50%</span>) to Q3 2023 (<span style="font-weight: bold;">4.90%</span>) emphasizes a significant increase in house prices, deviating positively from the historical average.</p>
                <p style="margin-left: 2em;">The sigma score of <span style="font-weight: bold;">-0.38</span> for Q2 2023 suggests a deviation 0.38 standard deviations below the mean change, indicating a comparatively lower house price during that period.</p>
            </div>
        </div>

        </p>

        <hr style="border: none; border-top: 1px solid black; margin-bottom: 2em; margin-top: 1.5em; width: 80%;">


      </div>


      <div class="row justify-content-center ftco-animate">
        <h2 class="h5 mb-4" style="text-align: center; font-size: 25px;">Total Property Turnover Change declines rapidly: Q3 2023 at -37.50%</h2>
        <img style="padding: 1em 3em 3em 3em;" src="/images/public/turnoverprob.png" class="img-fluid">
        <p style="text-align: center; font-size: 12px;">
          <strong>
            a) Density histogram accompanied by a density plot and interquartile range (IQR) representation.
            b) Normal Probability plot (quantile-quantile) showcasing distribution characteristics and a 
            c) Box plot offering a visual representation of the dataset's spread and central tendency.
          </strong>
        </p>
        <p>

          <div>
            <div>
              <p style="color: black; font-size: 20px;"><span style="font-weight: bold;">Main Points:</span></p>
              <p style="color: black; font-size: 18px;"><span style="font-weight: bold;">a) Substantial Property Turnover Decline -</span> by -37.50% in Q3 2023</p>
              <p style="margin-left: 2em;">Q3 2023 witnessed a significant <span style="font-weight: bold;">-37.50%</span> decline in Total Property Turnover, indicating a noteworthy shift in the housing market.</p>
            </div>
          
            <div>
              <p style="color: black; font-size: 18px;"><span style="font-weight: bold;">b) Below-Average Turnover -</span> Deviation from Mean</p>
              <p style="margin-left: 2em;">The negative quarterly change falls well below the mean at <span style="font-weight: bold;">2.54%</span>, with a sigma score of <span style="font-weight: bold;"> σ -1.39</span>, signaling an uncommon and statistically significant drop in turnover figures.</p>
            </div>
          
            <div>
              <p style="color: black; font-size: 18px;"><span style="font-weight: bold;">c) High Volatility -</span> Standard Deviation of 28.72</p>
              <p style="margin-left: 2em;">A standard deviation of <span style="font-weight: bold;">28.72</span> reflects a high level of volatility in quarterly turnover change, suggesting unpredictable fluctuations in the market.</p>
            </div>
          
            <div>
              <p style="color: black; font-size: 18px;"><span style="font-weight: bold;">d) Uncommon Decline -</span> Comparison and Historical Context</p>
              <p style="margin-left: 2em;">Comparing Q2 2023 (<span style="font-weight: bold;">-1.20%</span>) to Q3 2023 (<span style="font-weight: bold;">-37.50%</span>) highlights a rare and pronounced decrease in total property turnover volumes, significantly deviating from the historical average.</p>
              <p style="margin-left: 2em;">The mean and median changes of <span style="font-weight: bold;">2.54%</span> and <span style="font-weight: bold;">-4.70%</span>, respectively, underscore the severity of this negative deviation. The data points to a substantial and unusual decline, indicating future economic challenges.</p>
            </div>
          </div>
          

        </p>

        <hr style="border: none; border-top: 1px solid black; margin-bottom: 2em; margin-top: 1.5em; width: 80%;">

      </div>



      <div class="row ftco-animate">
        <div class="col-md-12">
            <h2 class="h5 mb-4" style="font-size: 25px;">Matrix correlations between Housing Sector variables (active datasets)</h2>
            <img style="padding: 1em 3em 3em 3em; display: block; margin: 0 auto;" src="/images/public/heatmap.png" class="img-fluid" alt="Heatmap">
            <p style="text-align: center; font-size: 10px;">
              <strong>Correlation heatmap between all housing datasets, with red colors indicating stronger correlations and blue colors indicating weaker correlations.</strong>
            </p>
        </div>


        <div style="color: black; font-size: 20px;"><span style="font-weight: bold;">Main Points:</span>
          <div>
            
            <div>
              <p style="color: black; font-size: 18px; font-weight: bold; color: red;">Strongly correlated variable clusters:</p>
              <p style="margin-left: 2em; font-size: 16px;">
                  • Between HPI, RPI, AEI and Average property prices (all types)
                  <br>
                  • Non-qualified accom & 1/2 Bed Flats
                  <br>
                  • Property turnover in St Clement + St Saviour and Average House Prices (excluding flats)
                  <br>
              </p>
          </div>
          
          <div>
              <p style="color: black; font-size: 18px; font-weight: bold; color: blue;">Weakly correlated variable clusters:</p>
              <p style="margin-left: 2em; font-size: 16px;"> 
                  • Between HPI + Housing Trends and Property turnove in St Ouen + St Peter (alongside St Brelade, St Lawrence, Trinity, Grouville to a lesser extent)
                  <br>
                  • Between 1/2 Bed Flat Average Price and Property turnover in St Ouen (alongside St Berlade, St Lawrence, Trinity to a lesser extent)
                  <br>
                  • Property turnover in St Ouen and St Mary are more generally less correlated to the overall house market.
                  <br>
              </p>
          </div>

          <hr style="border: none; border-top: 1px solid black; margin-bottom: 2em; margin-top: 2em; width: 80%;">

      </div>



      <div class="row ftco-animate">
        <div class="col-md-12">
            <h2 class="h5 mb-4" style="font-size: 25px;">Network of Housing Variables: Exploring Correlations</h2>
            <img style="padding: 1em 3em 3em 3em; display: block; margin: 0 auto;" src="/images/public/networkx.png" class="img-fluid" alt="networkx">
            <p style="text-align: center; font-size: 14px;">
              <strong>NetworkX visualization depicting inter-variable housing correlations using Pearson's correlation similarity scores. Colour coded by dataset cluster: <br>
                <span style="color: #2596be;">Parishes (turnover),</span> 
                <span style="color: #ff0404;">Economic Indexes & Total ,</span> 
                <span style="color: #c03cbc;">Property types (avg price),</span> 
                <span style="color: #ff7c24;">Property turnover (houses),</span> 
                <span style="color: #ffcc1c;">Property turnover (flats)</span>
              </strong>
            </p>
        </div>



      </div>


    </div>
  
    <div class="container">
      <div class="row justify-content-center">
        <img src="/assets/img/statsJEfavi.png" alt="Jersey Statistics stats.je Icon" style="height: 43px; width: 40px; margin-top: 3em;">
      </div>
    </div>
  
  </section>



  <section class="ftco-section bg-light ftco-slant ftco-slant-dark" id="part5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 text-center ftco-animate">
          <h2 class="text-uppercase ftco-uppercase">Future Projections</h2>
          <div class="row justify-content-center mb-0">
  
              <p class="lead" style="font-size: 18px; padding-bottom: 20px; margin-top: 2em;">
  
                As Jersey's housing sector grapples with the recent shift in property turnover and rising costs, it is imperative to explore the anticipated future trends that may shape the island's real estate landscape. 
                Examining potential developments and challenges will be crucial in devising strategies to ensure sustainable growth and address the evolving needs of the community.

              </p>
            
          </div>
        </div>
      </div>


        <h2 class="h5 mb-4" style="text-align: center; font-size: 28px;"><bold>Flat Price Projections</bold></h2>


        <div class="row justify-content-center">
          <!-- Flats -->
          <div class="col-lg-4 mb-5 ftco-animate offset-lg-2" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
            <h3 class="h4">1 Bed Flats</h3>
            <figure><img src="/images/public/1flat.png" class="img-fluid"></figure>
            <p style="text-align: center; font-size: 10px;">
              <strong>
                a) Projected Avg. 1-bed flat values and 
                b) average YoY price changes
              </strong>
            </p>
          </div>
        
          <div class="col-lg-4 mb-5 ftco-animate" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
            <h3 class="h4">2 Bed Flats</h3>
            <figure><img src="/images/public/2flat.png" class="img-fluid"></figure>
            <p style="text-align: center; font-size: 10px;">
              <strong>
                a) Projected Avg. 2-bed flat values and 
                b) average YoY price changes
              </strong>
            </p>
          </div>
        </div>
        

        <div class="row justify-content-center mb-0 ftco-animate offset-lg-2" style="margin-top: 1em;">
          <p class="lead" style="font-size: 18px; padding-bottom: 20px;  color: #000;">


            <table style="font-family: Arial, sans-serif; border-collapse: collapse; width: 100%;">
              <tr>
                  <th style="border: 1px solid #dddddd; text-align: center; padding: 8px; background-color: #f2f2f2;">Year</th>
                  <th style="border: 1px solid #dddddd; text-align: center; padding: 8px; background-color: #f2f2f2;">1-Bed Flats</th>
                  <th style="border: 1px solid #dddddd; text-align: center; padding: 8px; background-color: #f2f2f2;">2-Bed Flats</th>
              </tr>
              <tr>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">2024</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£320,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£510,000</td>
              </tr>
              <tr>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">2025</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£340,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£530,000</td>
              </tr>
              <tr>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">2026</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£360,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£570,000</td>
              </tr>
              <tr>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">2027</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£390,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£620,000</td>
              </tr>
              <tr>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">2028</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£450,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£690,000</td>
              </tr>
          </table>

          <p style="text-align: center; font-style: italic; margin-top: 1em; font-size: 14px;">
            Projected average values rely on a spline model that integrates multiple variables, including average year-over-year price change and trend analysis.
          </p>
      
          <p style="text-align: center !important; margin-top: 1em !important; color: black !important;">
            Between 2024 and 2028, the housing market anticipates a consistent upward trend in prices for 1-bed and 2-bed flats. The average year-over-year (YoY) change for 1-bed flats is 2.50%, while 2-bed flats experience a slightly higher average price growth of 4.30% YoY. In 2024, the projected prices are £320,000 and £510,000 for 1-bed and 2-bed flats, respectively. By 2028, these prices are expected to rise to £780,000 for 1-bed flats and £1,080,000 for 2-bed flats. 
          </p>
        

          </p>
        </div>

      

        <hr style="border: none; border-top: 1px solid black; margin-bottom: 3em; margin-top: 1em; width: 80%;">



        <h2 class="h5 mb-4" style="text-align: center; font-size: 28px;"><bold>House Price Projections</bold></h2>

        <div class="row">
          <!-- Houses -->
          <div class="col-lg-4 mb-5 ftco-animate" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
            <div class="p-3">
              <h3 class="h4">2 Bed Houses</h3>
              <figure><img src="/images/public/2house.png" class="img-fluid"></figure>
              <p style="text-align: center; font-size: 10px;">
                <strong>1) Projected Avg. 2-bed house values and 2) average YoY price changes</strong>
              </p>
            </div>
          </div>
        
          <div class="col-lg-4 mb-5 ftco-animate" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
            <div class="p-3">
              <h3 class="h4">3 Bed Houses</h3>
              <figure><img src="/images/public/3house.png" class="img-fluid"></figure>
              <p style="text-align: center; font-size: 10px;">
                <strong>1) Projected Avg. 3-bed house values and 2) average YoY price changes</strong>
              </p>
            </div>
          </div>
        
          <div class="col-lg-4 mb-5 ftco-animate" style="margin-bottom: 0 !important; padding-bottom: 0 !important;">
            <div class="p-3">
              <h3 class="h4">4 Bed Houses</h3>
              <figure><img src="/images/public/4house.png" class="img-fluid"></figure>
              <p style="text-align: center; font-size: 10px;">
                <strong>1) Projected Avg. 4-bed house values and 2) average YoY price changes</strong>
              </p>
            </div>
          </div>
        </div>



        <div class="row justify-content-center mb-0 ftco-animate offset-lg-2" style="margin-top: 1em;">
          <p class="lead" style="font-size: 18px; padding-bottom: 20px;  color: #000;">

            <table style="font-family: Arial, sans-serif; border-collapse: collapse; width: 100%;">
              <tr>
                  <th style="border: 1px solid #dddddd; text-align: center; padding: 8px; background-color: #f2f2f2;">Year</th>
                  <th style="border: 1px solid #dddddd; text-align: center; padding: 8px; background-color: #f2f2f2;">2-Bed Houses</th>
                  <th style="border: 1px solid #dddddd; text-align: center; padding: 8px; background-color: #f2f2f2;">3-Bed Houses</th>
                  <th style="border: 1px solid #dddddd; text-align: center; padding: 8px; background-color: #f2f2f2;">4-Bed Houses</th>
              </tr>
              <tr>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">2024</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£590,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£800,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£1,250,000</td>
              </tr>
              <tr>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">2025</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£610,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£820,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£1,310,000</td>
              </tr>
              <tr>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">2026</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£670,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£870,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£1,420,000</td>
              </tr>
              <tr>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">2027</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£720,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£940,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£1,580,000</td>
              </tr>
              <tr>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">2028</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£780,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£1,080,000</td>
                  <td style="border: 1px solid #dddddd; text-align: center; padding: 8px;">£1,675,000</td>
              </tr>
          </table>
      
          <p style="text-align: center; font-style: italic; margin-top: 1em; font-size: 14px;">
            Projected average values rely on a spline model that integrates multiple variables, including average year-over-year price change and trend analysis.
          </p>
      
          <p style="text-align: center !important; margin-top: 1em !important; color: black !important;">
            House prices are projected to rise steadily from 2024 to 2028. The average year-over-year (YoY) change for 2-bed houses is 4.34%, 3-bed houses experience 6.50% YoY growth, and 4-bed houses show a significant 12.58% YoY increase. In 2024, the projected prices are £590,000, £800,000, and £1,250,000 for 2-bed, 3-bed, and 4-bed houses, respectively. By 2028, these prices are expected to reach £780,000, £1,080,000, and £1,675,000, indicating a positive overall trend in the real estate market.
          </p>
        
            
          </p>        

        </div>
        
        


        <hr style="border: none; border-top: 1px solid black; margin-bottom: 3em; margin-top: 1em; width: 80%;">




        <div class="row">

        <div class="row justify-content-center ftco-animate" style=" padding-bottom: 1em;">

          <h2 class="h5 mb-4" style="text-align: center; font-size: 28px;"><bold>Projected HPI Scenarios</bold></h2>
          <img style="padding: 1em 3em 0 3em;" src="/images/public/hpiprojections.png" class="img-fluid">
          <p style="text-align: center; font-size: 12px;">
            <strong>
              Future House Price Index (HPI) projections based on various socioeconomic scenarios.
            </strong>
          </p>

          <p style="text-align: center !important; margin-top: 1em !important; color: black !important;">
            The graph shows expected changes in Jersey's Home Price Index (HPI) from Q3 2023 to 2036. There are three scenarios: optimistic, neutral, and pessimistic. Each scenario considers different factors that affect the housing market, and the graph gives a clear overview of how Jersey's HPI might move under various economic and market conditions. 
          </p>       
        </div>



        <hr style="border: none; border-top: 1px solid black; margin-bottom: 3em; margin-top: 1em; width: 80%;">



        <div class="row justify-content-center ftco-animate" style=" padding-bottom: 1em;">

          <h2 class="h5 mb-4" style="text-align: center; font-size: 28px; padding-bottom: 1em"><bold>The Bigger Picture</bold></h2>


            <div class="row justify-content-center mb-0">
    
              <div style="font-size: 16px; padding-bottom: 20px;">


                <div class="row" style="padding-bottom: 3em">
                  <div class="col-md-9 mb-md-0 mb-5 d-flex align-items-center">
                    <p style="color: black;">

                      Anticipating that future models will enhance predictability for Jersey-centric markets, our approach integrates advanced technologies and broadens analytical capabilities beyond housing-specific data. 
                      This involves combining macroeconomic forces, such as inflation, interest rates, GDP, employment, population dynamics, and global economic trends, with advanced machine learning models adept at detecting subtle patterns.
                    
                    </p>
                  </div>
                  <div class="col-md-3 mb-md-0 mb-5 text-right">
                    <img src="/images/public/conc1.jpg" class="img-fluid" style="max-width: 100%; height: auto;" alt="Jersey Housing AI gen photo">
                  </div>
                </div>
                
                <div class="row" style="padding-bottom: 3em">
                  <div class="col-md-3 mb-md-0 mb-5 text-right">
                    <img src="/images/public/MLbackground.jpg" class="img-fluid" style="max-width: 100%; height: auto;" alt="Jersey Statistics ML background">
                  </div>
                  <div class="col-md-9 mb-md-0 mb-5 d-flex align-items-center">
                    <p style="color: black;">

                      Additionally, this methodology takes into account the significant impact of government policy changes on the housing market. 
                      By assimilating macroeconomic factors, global trends, and regulations, the framework aims to provide robust and accurate projections. 
                      This aligns with the goal of anticipating and adapting to evolving challenges in the markets.

                    </p>
                  </div>
                </div>
                
                <div class="row" style="padding-bottom: 1em">
                  <div class="col-md-9 mb-md-0 mb-5 d-flex align-items-center">
                    <p style="color: black;">

                      By assimilating macroeconomic factors, global trends, and regulations, the framework aims to provide robust and accurate projections, aligning with the goal of anticipating and adapting to evolving challenges within Jersey's socioeconomic landscape.
                      There’s still a lot of work to do, and we look forward to improving these models.

                    </p>
                  </div>
                  <div class="col-md-3 mb-md-0 mb-5 text-right">
                    <img src="/images/public/conc3.jpg" class="img-fluid" style="max-width: 100%; height: auto;" alt="Digital Jersey background">
                  </div>
                </div>
                
            
              </div>

            </div>
        </div>
        </div>
        


        <hr style="border: none; border-top: 1px solid black; margin-bottom: 3em; margin-top: 1em; width: 80%;">

      

        <div style="font-size: 16px; padding-bottom: 20px; text-align: center">
          <p style="color: black;">
            <strong style="font-weight: bold;">Authors:</strong> <span style="margin-right: 20px;">StatsJE</span> | 
            <strong style="font-weight: bold; margin-left: 20px;">Date:</strong> <span style="margin-right: 20px;">Dec 2023</span> | 
            <strong style="font-weight: bold; margin-left: 20px;">Acknowledgments:</strong> opendataje
          </p>

          <p style="color: black;">
            <strong style="font-weight: bold;">Related Publications:</strong> <span style="margin-right: 20px;">-</span> 
          </p>

        </div>



        <hr style="border: none; border-top: 1px solid black; margin-bottom: 3em; margin-top: 1em; width: 80%;">



        <div class="container">
          <div class="row justify-content-center align-items-center">
            <a class="underline-link" href="#publicmain">Back to top</a>
          </div>
          <div class="row justify-content-center">
            <img src="/assets/img/statsJEfavi.png" alt="Jersey Statistics stats.je Icon" style="height: 43px; width: 40px; margin-top: 2em;">
          </div>
        </div>
        
      </section>

    





      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

      <script>
        $(document).ready(function() {
          $(".smooth-scroll").on('click', function(event) {
            event.preventDefault();
            var target = $(this).attr('href');
            var offset = $(target).offset().top - ($(window).height() / 8); // Adjust the division factor as needed
            $('html, body').animate({
              scrollTop: offset
            }, 1000); // Adjust the animation duration as needed
          });
        });
      </script>